@model EnglishForKids_LMN.Models.VocabularyBonus
@{ ViewBag.Title = "Create Vocabulary - English For Kids";
    EnglishForKids_LMN.Models.English_LearningEntities db = new EnglishForKids_LMN.Models.English_LearningEntities();
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    if (Session["ID_User"] == null && Session["Admin_Code"] == null)
    {
        Response.Redirect("~/Login/SignIn");
    }
}
<style>
    .text-danger {
        color: red;
    }

    .img-createV {
        display: inline-block;
        padding: 10px;
        background-color: rgba(0,0,0,0.25);
        color: black;
        border-radius: 20px;
        border: 5px solid #337ab7;
        margin-top: -10px;
    }

    .background-createV {
        padding: 20px;
        background-color: #fff;
        border: 10px; /* Viền của cái khối */
        border-color: rgb(0 0 0 / 2%);
        border-style: solid;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 20px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    .background-createVocabulary {
        padding: 35px;
        background-color: #fff;
        border: 10px; /* Viền của cái khối */
        border-color: rgb(221 58 58 / 74%);
        border-style: solid;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 30px;
        box-shadow: 0 14px 28px rgb(226 17 17 / 25%), 0 10px 10px rgb(243 241 22 / 22%);
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="border-title">
                <div class="container_title">
                    <h2 class="title" style="font-size:37px">
                        <span class="title-word title-word-1">V</span>
                        <span class="title-word title-word-2">O</span>
                        <span class="title-word title-word-3">C</span>
                        <span class="title-word title-word-4">A</span>
                        <span class="title-word title-word-1">B</span>
                        <span class="title-word title-word-2">U</span>
                        <span class="title-word title-word-3">L</span>
                        <span class="title-word title-word-4">A</span>
                        <span class="title-word title-word-1">R</span>
                        <span class="title-word title-word-2">Y</span>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row background-createVocabulary">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="text-center" style="background-color:antiquewhite">
                    <h2 class="animate-charcter" style="text-transform: uppercase; text-align: center; font-size: 30px; font-weight: 700;">
                        Create new vocabulary
                    </h2>
                </div>

            </div>
        </div>
        <br />
        <hr />
        @using (Html.BeginForm("CreateV", "Vocabulary", FormMethod.Post))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-xs-12">
                    <div>
                        <br />
                        <input type="file" name="fileUpload" id="fileUpload" accept="images/*" style="display:none;" required />
                        <img src="~/Content/images/@Model.Image_Vocabulary" id="pictureUpload" style="width: 100%; height: 350px; border-radius: 10%" alt="Image vocabulary" class="img-createV" />
                        <br />
                        @Html.EditorFor(model => model.Image_Vocabulary, "", new { htmlAttributes = new { @class = "form-control center-block", @placeholder = "Type image string ...", @style = "width:500px;height:200px;display:none;", @maxlength = "50", @required = "required" } })
                        <br />
                        <p><input type="button" id="btnUpload" value="Choose picture" class="btn btn-success bx-flashing-hover center-block" /></p>
                        @section upload
    {
                            <script>
                                $(function () {
                                    $('#btnUpload').click(function () {
                                        $('#fileUpload').trigger('click');
                                    });
                                });
                                $('#fileUpload').change(function () {
                                    if (window.FormData !== undefined) {
                                        var fileUpload = $('#fileUpload').get(0);
                                        var files = fileUpload.files;
                                        var formData = new FormData();
                                        formData.append('file', files[0]);
                                        $.ajax({
                                            type: 'POST',
                                            url: '/Vocabulary/ProcessUpload',
                                            contentType: false,
                                            processData: false,
                                            data: formData,
                                            success: function (urlImage) {
                                                $('#pictureUpload').attr('src', "/Content/images/" + urlImage);
                                                $('#Image_Vocabulary').val(urlImage);
                                            },
                                            error: function (err) {
                                                alert('Error', err.statusText);
                                            }
                                        });
                                    }
                                });</script>
                        }
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12">
                    <div class="background-createV">
                        <p>
                            <strong>English name:</strong>
                            @Html.ValidationMessageFor(model => model.EN_Meaning, "", new { @class = "text-danger" })
                        </p>
                        @Html.EditorFor(model => model.EN_Meaning, "", new { htmlAttributes = new { @class = "form-control center-block", @placeholder = "Enter english name ...", @style = "width:100%;max-width:100%;", @minlength = "1", @maxlength = "10", @autofocus = "autofocus", @required = "required" } })
                        <br />
                        <p>
                            <strong>Vietnamese name:</strong>
                            @Html.ValidationMessageFor(model => model.VN_Meaning, "", new { @class = "text-danger" })
                        </p>
                        @Html.EditorFor(model => model.VN_Meaning, new { htmlAttributes = new { @class = "form-control center-block", @placeholder = "Enter vietnamese name ...", @style = "width:100%;max-width:100%;", @minlength = "1", @maxlength = "10", @required = "required" } })
                        <br />
                        <p>
                            <strong>IPA transcription:</strong>
                            @Html.ValidationMessageFor(model => model.Pronunciation, "", new { @class = "text-danger" })
                        </p>
                        @Html.EditorFor(model => model.Pronunciation, new { htmlAttributes = new { @class = "form-control center-block", @placeholder = "Enter IPA ...", @style = "width:100%;max-width:100%;", @minlength = "1", @maxlength = "10", @required = "required" } })
                        <br />
                        <p>
                            <strong>Category vocabulary:</strong>
                            @Html.ValidationMessageFor(model => model.category_vos, "", new { @class = "text-danger" })
                        </p>
                        @*@Html.DropDownListFor(model => model.ID_Category_Vo, new SelectList(Model.category_vos, "ID_Category_Vo", "Name_Category_Vo"), "", new { @class = "form-control center-block pull-left", @style = "width:100%;" })*@
                        <select class="form-control center-block pull-left" style = "width:100%;" name="ID_Category_Vo">
                            @foreach(var item in db.Category_Vo.Where(s => s.ID_Category_Vo != 6).ToList())
                                {
                                    <option value="@item.ID_Category_Vo">@item.Name_Category_Vo</option>
                                }
                        </select>





                        @*<a href="#" class="btn btn-success bx-flashing-hover pull-right" data-toggle="modal" data-target="#create-category" style="width: 48%;">Add category</a>*@
                        <br />
                        <br />
                        <br />
                        <p>
                            @Html.ActionLink("Back", "ListVocabulary", "Vocabulary", new { @class = "btn btn-default bx-fade-left-hover pull-left", @style = "width:45%; max-width:50%; border-radius:4px;" })
                            <input type="submit" name="Create" value="Add vocabulary" class="btn btn-primary bx-fade-right-hover pull-right" style="width: 45%; max-width: 50%; border-radius: 4px; " />
                        </p>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
        }
        <div class="modal fade " id="create-category">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="form-group">
                            <h2 class="modal-title" style="text-align: center; font-size: 30px; font-weight: 600;">
                                CREATE NEW CATEGORY
                                <button type="button" class="close pull-right" data-dismiss="modal">x</button>
                            </h2>
                        </div>
                    </div>
                    <div class="modal-body">
                        <form id="create">
                            <p>
                                <strong>Category name:</strong><font style="color:red;"> @ViewData["existed"]</font>
                            </p>
                            @Html.EditorFor(model => model.EN_Meaning, new { htmlAttributes = new { @class = "form-control center-block", @placeholder = "Enter category name...", @style = "width:100%;max-width:100%;", @minlength = "2", @maxlength = "20" } })
                        </form>
                    </div>
                    <div class="modal-footer">
                        <div class="btn-group">
                            <p>
                                <a href="#" class="btn btn-default bx-tada-hover" data-dismiss="modal">Cancel</a>
                                <a href="#" class="btn btn-primary bx-fade-right-hover" id="btn-save">Add category</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section add
                {
    <script>
        $(document).ready(function () {
            $("#btn-save").click(function () {
                var category = $("#create").serialize();

                $.ajax({
                    type: "POST",
                    url: "/Vocabulary/CreateVT",
                    data: category,
                    success: function () {
                        window.location.href = "/Vocabulary/CreateV";
                    },
                    error: function () {
                        alert('Sorry! Type name already exists 😢!');
                    }
                })
            })
        })</script>
}
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>


