@model EnglishForKids_LMN.Models.Vocabulary
@{ ViewBag.Title = "Delete Vocabulary - English For Kids";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; }
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
@*<h2>Xóa từ vựng</h2>
    <div class="thumbnail">
        <img src="~/Content/images/@Model.Image_Vocabulary" alt="Vocabulary Image" style="width:100px;height:100px;" />
    </div>
    <div class="text-center">
        <p><strong>Tên tiếng anh : </strong>@Html.ValueFor(model => model.EN_Meaning)</p>
        <p><strong>Tên tiếng việt : </strong>@Html.ValueFor(model => model.VN_Meaning)</p>
        <p><strong>Phát âm : </strong>@Html.ValueFor(model => model.Pronunciation) @Html.ActionLink("Speech", "Speech", new { id = Model.ID_Vocabulary }, new { @class = "btn btn-default" })</p>
        <br />
        <p>@Html.ActionLink("Trở về", "ListVocabulary", "", new { @class = "btn btn-default" }) 
        <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#delete">Xóa</a></p>
    </div>
    <div class="modal fade " id="delete">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="form-group">
                        <h2 class="modal-title">Xóa từ vựng<button type="button" class="close pull-right" data-dismiss="modal">x</button></h2>
                    </div>
                </div>
                <div class="modal-body">
                    Bạn có muốn xóa từ vựng này không ?
                </div>
                <div class="modal-footer">
                    <div class="btn-group">
                        <p>
                            <a href="#" class="btn btn-default" data-dismiss="modal">Hủy</a>
                            @Html.ActionLink("Xóa", "DeleteVC", "Vocabulary", new { id = Model.ID_Vocabulary }, new { @class = "btn btn-danger" })
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<style>
    .img-vocabulary {
        display: inline-block;
        padding: 5px;
        background-color: black;
        border-radius: 20px;
        border: 5px solid #337ab7;
        margin-top: 20px;
        width:50%;
    }

    .background-quiz {
        padding: 20px;
        background-color: #fff;
        border: 10px; /* Viền của cái khối */
        border-color: rgb(0 0 0 / 2%);
        border-style: solid;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 20px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
</style>
<div class="container">
    <div class="row background-quiz">
        <div class="row">
            <div class="col-lg-12 col-xs-12">
                <h2 style="text-transform: uppercase; text-align: center; font-size: 30px; font-weight: 600;">@Html.ValueFor(model => model.EN_Meaning)</h2>
            </div>
        </div>
        <br />
        <hr />
        <div class="row">
            <div class="col-lg-2 col-xs-0">

            </div>
            <div class="col-lg-8 col-xs-12">
                <div style="text-align:center;">
                    <img src="~/Content/images/@Model.Image_Vocabulary" alt="Vocabulary Image" class="img-vocabulary" />
                </div>
            </div>
            <div class="col-lg-2 col-xs-0">

            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-4 col-xs-0">

            </div>
            <div class="col-lg-4 col-xs-12">
                <div style="margin-left:69px">
                    <p><strong>Tên tiếng anh: </strong>@Html.ValueFor(model => model.EN_Meaning)</p>
                    <p><strong>Tên tiếng việt: </strong>@Html.ValueFor(model => model.VN_Meaning)</p>
                    <p>
                        <strong>Phiên âm IPA: </strong>
                        / @Html.ValueFor(model => model.Pronunciation) / @Html.ActionLink("Voice", "Speech", new { id = Model.ID_Vocabulary }, new { @class = "btn btn-default" })
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-xs-0">

            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-xs-4">
                @Html.ActionLink("Trở về", "ListVocabulary", "", new { @class = "btn btn-default" })
            </div>
            <div class="col-lg-8 col-xs-8">
                <p>
                    <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#delete" style="width:50%;">Xóa</a>
                </p>
            </div>
        </div>
        <div class="modal fade " id="delete">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="form-group">
                            <h2 class="modal-title" style="text-align: center; font-size: 30px; font-weight: 600;">Xóa từ vựng<button type="button" class="close pull-right" data-dismiss="modal">x</button></h2>
                        </div>
                    </div>
                    <div class="modal-body">
                        Bạn có muốn xóa từ vựng này không?
                    </div>
                    <div class="modal-footer">
                        <div class="btn-group">
                            <p>
                                <a href="#" class="btn btn-default" data-dismiss="modal">Hủy</a>
                                @Html.ActionLink("Xóa", "DeleteVC", "Vocabulary", new { id = Model.ID_Vocabulary }, new { @class = "btn btn-danger" })
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

