@model EnglishForKids_LMN.Models.Vocabulary

@{ ViewBag.Title = "Vocabulary Details - English For Kids";
    if (Session["ID_User"] != null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    if (Session["Admin_Code"] != null)
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    } }
<style>
    .img-vocabulary {
        display: inline-block;
        padding: 5px;
        
        width: 70%;
        border-radius: 30px;
        border: 10px; /* Viền của cái khối */
        border-color: rgb(221 58 58 / 74%);
        box-shadow: 0 14px 28px rgb(226 17 17 / 25%), 0 10px 10px rgb(243 241 22 / 22%);
        margin-top: 20px;
    }
/*    .img-vocabulary:hover{
        transition: 2s;
        width:80%;
    }*/

    .background-quiz {
        padding: 35px;
        background-color: #fff;
        border: 10px; /* Viền của cái khối */
        border-color: rgb(221 58 58 / 74%);
        border-style: solid;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 30px;
        box-shadow: 0 14px 28px rgb(226 17 17 / 25%), 0 10px 10px rgb(243 241 22 / 22%);
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12" style="position:relative;">
            <img src="~/Content/images/gif/quby-cute_point.gif" alt="results" style="width:20%; position: absolute; left: -150px; top: 300px" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            @*<h2 class="animate-charcter" style="text-align: center; font-size: 30px; font-weight: 600;">VOCABULARY</h2>*@
            <div class="border-title">
                <div class="container_title">
                    <h2 class="title">
                        <span class="title-word title-word-1">V</span>
                        <span class="title-word title-word-2">O</span>
                        <span class="title-word title-word-3">C</span>
                        <span class="title-word title-word-4">A</span>
                        <span class="title-word title-word-1">B</span>
                        <span class="title-word title-word-2">U</span>
                        <span class="title-word title-word-3">L</span>
                        <span class="title-word title-word-4">A</span>
                        <span class="title-word title-word-1">R</span>
                        <span class="title-word title-word-2">Y</span>
                    </h2>
                </div>
            </div>


            @*<marquee direction="right"> <h2 style="text-align: center; font-size: 30px; font-weight: 600;">VOCABULARY</h2> </marquee>*@

        </div>
    </div>
    <br />
    <br />

    <div class="row background-quiz">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="text-center" style="background-color:antiquewhite">
                    <h2 class="animate-charcter" style="text-transform: uppercase; text-align: center; font-size: 50px; font-weight: 700;">
                        @Html.ValueFor(model => model.EN_Meaning)
                    </h2>
                </div>

            </div>
        </div>
        <br />
        <hr />
        <div class="row">
            <div class="col-lg-2 col-sm-1 col-xs-0">

            </div>
            <div class="col-lg-8 col-sm-10 col-xs-12">
                <div class="text-center">
                    <img src="~/Content/images/@Model.Image_Vocabulary" alt="Vocabulary Image" class="img-vocabulary" />
                </div>
            </div>
            <div class="col-lg-2 col-sm-1 col-xs-0">

            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-4 col-xs-0">

            </div>
            <div class="col-lg-4 col-xs-12">
                <div class="text-center">
                    <p><strong>English name: </strong>@Html.ValueFor(model => model.EN_Meaning)</p>
                    <p><strong>Vietnamese name: </strong>@Html.ValueFor(model => model.VN_Meaning)</p>
                    <p>
                        <strong>IPA: </strong>
                        / @Html.ValueFor(model => model.Pronunciation) /
                        @Html.ActionLink("Voice", "Speech", new { id = Model.ID_Vocabulary }, new { @class = "btn btn-success bx bx-microphone bx-tada" })
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-xs-0">

            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-xs-6">
                @Html.ActionLink("Back to vocabulary page!", "User_View", "Vocabulary", new { @class = "btn btn-warning bx-fade-left-hover" })
            </div>
            <div class="col-lg-6 col-xs-6">

            </div>
        </div>
    </div>
</div>



