@model EnglishForKids_LMN.Models.Category_VocabularyBonus
@{ ViewBag.Title = "List Vocabulary Categories - English For Kids";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; }
<style>
</style>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            @*<h2 style="text-align: center; font-size: 30px; font-weight: 600;">
            DANH SÁCH THỂ LOẠI TỪ VỰNG
        </h2>*@

            <div class="border-title">
                <div class="container_title">
                    <h2 class="title" style="font-size:37px">
                        <span class="title-word title-word-1">C</span>
                        <span class="title-word title-word-2">A</span>
                        <span class="title-word title-word-3">T</span>
                        <span class="title-word title-word-4">E</span>
                        <span class="title-word title-word-1">G</span>
                        <span class="title-word title-word-2">O</span>
                        <span class="title-word title-word-3">R</span>
                        <span class="title-word title-word-4">Y</span>
                    </h2>
                </div>
            </div>



        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-5 col-xs-0">

        </div>
        <div class="col-lg-7 col-xs-12">

        </div> 
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <a href="#" class="btn btn btn-primary bx-flashing-hover btn-taomoi-reponsive" data-toggle="modal" data-target="#create-category">Create new category</a>
        </div>
    </div>
    <hr />
    <table class="table table-responsive tr">
        <caption class="caption">Vocabulary category list</caption>
        <tr>
            <th style=" text-align: center;">#</th>
            <th style=" text-align: center;">Category name</th>
            <th style=" text-align: center;">Function</th>
        </tr>
        @foreach (var item in Model.vocabulary_Types)
        {
<tr>
    <td style=" text-align: center;">@item.ID_Category_Vo</td>
    <td style=" text-align: center;">@item.Name_Category_Vo</td>
    <td style=" text-align: center;">
        <a href="@Url.Action("EditVT", "Vocabulary", new { id = item.ID_Category_Vo })" class="btn btn-warning bx-tada-hover" style="width:80px;">Edit</a>
        @*@Html.ActionLink("Sửa", "EditVT", new { id = item.ID_Category_Vo }) |*@
        <a href="/Vocabulary/DeleteVT/@item.ID_Category_Vo" class="btn btn-danger bx-tada-hover" style="width:80px;">Delete</a>
    </td>
</tr>
}
    </table>
    <div class="modal fade " id="create-category">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="form-group">
                        <h2 class="modal-title" style="text-align: center; font-size: 30px; font-weight: 600;">Create new category<button type="button" class="close pull-right" data-dismiss="modal">x</button></h2>
                    </div>
                </div>
                <div class="modal-body">
                    <form id="create">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <p>
                            <strong>Category name: </strong>
                        </p>
                        @Html.EditorFor(model => model.Name_Category_Vo, new { htmlAttributes = new { @class = "form-control center-block", @placeholder = "Enter category name ...", @style = "width:100%;max-width:100%;", @minlength = "2", @maxlength = "20" } })
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="btn-group">
                        <p>
                            <a href="#" class="btn btn-default bx-tada-hover" data-dismiss="modal">Cancel</a>
                            <a href="#" class="btn btn-primary bx-fade-right-hover" id="btn-save">Add category</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @section add
{
        <script>
            $(document).ready(function () {
                $("#btn-save").click(function () {
                    var category = $("#create").serialize();

                    $.ajax({
                        type: "POST",
                        url: "/Vocabulary/CreateVT",
                        data: category,
                        success: function () {
                            window.location.href = "/Vocabulary/ListVocabularyType";
                        },
                        error: function () {
                            alert('This category already existed!');
                        }
                    })
                })
            })</script>
    }
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>

</div>