@model PagedList.IPagedList<EnglishForKids_LMN.Models.Vocabulary>
@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "User_View";
    if (Session["ID_User"] != null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    if (Session["Admin_Code"] != null)
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <h2 style="text-align: center; font-size: 30px; font-weight: 600;">TỪ VỰNG</h2>
        </div>
    </div>
    <br />
    @using (Html.BeginForm("User_View", "Vocabulary", FormMethod.Get))
    {
        <div class="row">
            <div class="col-lg-5 col-xs-0">

            </div>
            <div class="col-lg-7 col-xs-12">
                <label>Tìm kiếm và sắp xếp:</label>
                <select id="sortVocabulary" name="sortVocabulary" class="form-control form-sapxap" style="width:105px;display:inline-block">
                    <option for="sortVocabulary" id="sortVocabulary" name="sortVocabulary" value="@Session["Vocabulary_Sort"]">@Session["Vocabulary_Sort"]</option>
                    <option for="sortVocabulary" id="sortVocabulary" name="sortVocabulary" value="None">None</option>
                    <option for="sortVocabulary" id="sortVocabulary" name="sortVocabulary" value="AZ">A - Z</option>
                    <option for="sortVocabulary" id="sortVocabulary" name="sortVocabulary" value="ZA">Z - A</option>
                </select>
                <input type="text" id="searchVocabulary" name="searchVocabulary" class="form-control" placeholder="Nhập từ khóa để tìm ..." value="@Session["searchVocabulary"]" required style="display: inline-block; width: 250px" />
                <input type="submit" value="Tìm kiếm" class="btn btn-primary" style="width:90px;display:inline-block" />
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12 col-xs-12">
                <p>Chọn thể loại từ vựng mà em muốn học:</p>
                <div>
                    <a href="/Vocabulary/User_View" class="btn btn-default">Tất cả</a>
                    @using EnglishForKids_LMN.Models
                    @{
                        List<Category_Vo> vocabularies = Session["Index"] as List<Category_Vo>;
                    }
                    @foreach (var item in vocabularies)
                    {
                        <a href="/Vocabulary/User_View/@item.ID_Category_Vo" class="btn btn-default">@item.Name_Category_Vo</a>
                    }
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            @foreach (var item in Model)
            {
                <a href="/Vocabulary/DetailV/@item.ID_Vocabulary">
                    <div class="col-lg-4 col-xs-12" style="border-radius: 0; margin-top:50px; display: flex; align-items: center; justify-content: center;">
                        <div class="card" style="border-radius: 20px">
                            <img src="~/Content/images/@item.Image_Vocabulary" alt="Vocabulary Image" style="width: 100%; height: 250px; border-radius: 20px" />
                            <h1 style="text-align:center;color:black;">@item.EN_Meaning</h1>
                            <p style="color:gray;">Phiên âm IPA: / @item.Pronunciation /</p>
                            <p style="padding: 10px; width: 100%; background-color: #333333; color: white; font-size: 14px; border-radius: 5px">Chi tiết</p>
                        </div>
                    </div>
                </a>
            }
        </div>
        <div class="row">
            <div class="col-lg-12 col-xs-12">
                <div style="margin-top:50px">
                    <div>
                        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                    </div>
                    <div>
                        @if (Session["searchVocabulary"] != null)
                        {
                            @Html.PagedListPager(Model, page => Url.Action("User_View", new { page = page, searchVocabulary = Session["searchVocabulary"], sortVocabulary = Session["Vocabulary_Sort"] }))
                        }
                        else
                        {
                            @Html.PagedListPager(Model, page => Url.Action("User_View", new { page = page }))
                        }
                    </div>
                </div>
            </div>
        </div>
        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    }
</div>




