@model PagedList.IPagedList<EnglishForKids_LMN.Models.Vocabulary>
@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "Vocabulary - English For Kids";
    if (Session["ID_User"] != null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    if (Session["Admin_Code"] != null)
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    if (Session["ID_User"] == null && Session["Admin_Code"] == null)
    {
        Response.Redirect("~/Login/SignIn");
    }
}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12" style="position:relative;">
            <img src="~/Content/images/gif/gif_2.gif" alt="results" style="width:20%; position: absolute; left: -175px; top: 85px" />
        </div>
    </div>
    @*<div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12" style="position:relative;">
                <img src="~/Content/images/gif/gif_win7.gif" alt="results" style="width:20%; position: absolute; right: 230px; top: 1800px" />
            </div>
        </div>*@
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            @*<h2 class="animate-charcter" style="text-align: center; font-size: 30px; font-weight: 600;">VOCABULARY</h2>*@
            <div class="border-title">
                <div class="container_title">
                    <h2 class="title" style="font-size:36px">
                        <span class="title-word title-word-1">V</span>
                        <span class="title-word title-word-2">O</span>
                        <span class="title-word title-word-3">C</span>
                        <span class="title-word title-word-4">A</span>
                        <span class="title-word title-word-1">B</span>
                        <span class="title-word title-word-2">U</span>
                        <span class="title-word title-word-3">L</span>
                        <span class="title-word title-word-4">A</span>
                        <span class="title-word title-word-1">R</span>
                        <span class="title-word title-word-2">Y</span>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />

    @using (Html.BeginForm("User_View", "Vocabulary", FormMethod.Get))
    {
        <div class="row">
            <div class="col-lg-5 col-sm-1 col-xs-0">

            </div>
            <div class="col-lg-7 col-sm-11 col-xs-12">
                <label>Search and arrange:</label>
                <select id="sortVocabulary" name="sortVocabulary" class="form-control form-sapxap" style="width:105px;display:inline-block">
                    <option for="sortVocabulary" id="sortVocabulary" name="sortVocabulary" value="@Session["Vocabulary_Sort"]" hidden>@Session["Vocabulary_Sort"]</option>
                    <option for="sortVocabulary" id="sortVocabulary" name="sortVocabulary" value="None">None</option>
                    <option for="sortVocabulary" id="sortVocabulary" name="sortVocabulary" value="AZ">A - Z</option>
                    <option for="sortVocabulary" id="sortVocabulary" name="sortVocabulary" value="ZA">Z - A</option>
                </select>
                <input type="text" id="searchVocabulary" name="searchVocabulary" class="form-control" placeholder="Enter keywords to search..." value="@Session["searchVocabulary"]" style="display: inline-block; width: 250px" maxlength="20" required />
                <button id="microButton" onclick="startListening()" style="background: #e3d409; width: 35px; height: 35px; border-radius: 10px; border-color: red;"><i class='bx bx-microphone'></i></button>
                <input type="submit" value="Search" class="btn btn-primary bx-flashing-hover" style="width:90px;display:inline-block" />
            </div>
            <script>
                // Khai báo biến global để lưu trạng thái nhận dạng giọng nói
                let isListening = false;

                // Hàm bắt đầu nhận dạng giọng nói
                function startListening() {
                    // Kiểm tra trình duyệt có hỗ trợ SpeechRecognition hay không
                    if ('webkitSpeechRecognition' in window) {
                        const recognition = new webkitSpeechRecognition();

                        // Thiết lập các tùy chọn nhận dạng giọng nói
                        recognition.continuous = false;
                        recognition.lang = 'en-US';

                        // Bắt đầu nhận dạng giọng nói
                        recognition.start();

                        // Xử lý sự kiện khi nhận dạng thành công
                        recognition.onresult = function (event) {
                            const result = event.results[0][0].transcript;
                            document.getElementById('searchVocabulary').value = result;
                            recognition.stop();
                        };

                        // Xử lý sự kiện khi kết thúc nhận dạng
                        recognition.onend = function () {
                            isListening = false;
                        };

                        isListening = true;
                    }
                }

                // Xử lý sự kiện khi người dùng click vào nút micro
                document.getElementById('microButton').addEventListener('click', function () {
                    if (isListening) {
                        // Ngừng nhận dạng nếu đang trong quá trình nhận dạng
                        recognition.stop();
                        isListening = false;
                    } else {
                        // Bắt đầu nhận dạng nếu không trong quá trình nhận dạng
                        startListening();
                    }
                });
            </script>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <p style="font-weight:bold">Choose the type of vocabulary you want to learn:</p>
                <div>
                    <a href="/Vocabulary/User_View" class="btn btn-warning bx-tada">All</a>
                    @using EnglishForKids_LMN.Models
                    @{
                        List<Category_Vo> vocabularies = Session["Index"] as List<Category_Vo>;


                    }
                    @foreach (var item in vocabularies)
                    {
                        <a href="/Vocabulary/User_View/@item.ID_Category_Vo" class=" btn btn-success bx-tada-hover">@item.Name_Category_Vo</a>
                    }
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            @foreach (var item in Model)
            {
                <a href="/Vocabulary/DetailV/@item.ID_Vocabulary">
                    <div class="col-lg-4 col-sm-6 col-xs-12" style="border-radius: 0; margin-top:50px; display: flex; align-items: center; justify-content: center;">
                        <div class="card" style="border-radius: 20px; background-color: #eceade;">
                            <img src="~/Content/images/@item.Image_Vocabulary" alt="Vocabulary Image" style="width: 100%; height: 250px; border-radius: 20px" />
                            <h1 class="animate-charcter text-center" style="text-align:center;color:black; font-size: 30px; font-weight: 700 ">@item.EN_Meaning</h1>
                            <p style="color:gray;">IPA transcription: / @item.Pronunciation /</p>
                            <p>
                                @if (item.View_Vocabulary == 0)
                                {
                                    <span style="color:blue">Not learned</span>
                                }
                                else
                                {
                                    <span style="color:green">Learned @item.View_Vocabulary times</span>
                                }
                            </p>
                            <p class="bx-fade-right-hover" style="padding: 10px; width: 100%; background-color: #333333; color: white; font-size: 14px; border-radius: 5px">Detail</p>
                        </div>
                    </div>
                </a>
            }
        </div>

        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div style="margin-top:50px">
                    <div>
                        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                    </div>
                    <div>
                        @if (Session["searchVocabulary"] != null)
                        {
                            @Html.PagedListPager(Model, page => Url.Action("User_View", new { page = page, searchVocabulary = Session["searchVocabulary"], sortVocabulary = Session["Vocabulary_Sort"] }))
                        }
                        else
                        {
                            @Html.PagedListPager(Model, page => Url.Action("User_View", new { page = page }))
                        }
                    </div>
                </div>
            </div>
        </div>
        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    }
</div>




