@model EnglishForKids_LMN.Models.User

@{
    ViewBag.Title = "Account";
    if (Session["ID_User"] != null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    if (Session["ID_Admin"] != null)
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
}
<style>
    .btn-choose-avatar {
        color: #fff;
        box-shadow: 0 1px 1px rgb(0 0 0 / 9%);
        font-size: 15px;
        width: 80%;
        height: 50px;
        cursor: pointer;
        border-radius: 10px;
        outline-style: inherit;
        outline-color: aqua;
        margin-top: 20px;
        margin-bottom: 20px;
        border: 3px solid #315cfd;
        transition: all 0.3s;
        font-weight: 700;
        background: #4FD1C5;
        background: linear-gradient(90deg, rgb(210 205 113) 0%, rgb(223 52 93) 100%);
    }

        .btn-choose-avatar:hover {
            color: #fff;
            transform: translateY(-6px);
            font-size: 13px;
        }

    .btn-capnhat {
        color: #fff;
        box-shadow: 0 1px 1px rgb(0 0 0 / 9%);
        font-size: 20px;
        width: 400px;
        height: 60px;
        cursor: pointer;
        border-radius: 10px;
        outline-style: inherit;
        outline-color: aqua;
        margin-top: 20px;
        margin-bottom: 20px;
        border: 3px solid #315cfd;
        transition: all 0.3s;
        font-weight: 700;
        background: #4FD1C5;
        background: linear-gradient(90deg, rgb(210 205 113) 0%, rgb(223 52 93) 100%);
    }

        .btn-capnhat:hover {
            color: #fff;
            transform: translateY(-6px);
            font-size: 18px;
        }

    .form-account {
        padding: 50px;
        background-color: #fff;
        border: 10px; /* Viền của cái khối */
        border-color: rgb(0 0 0 / 2%);
        border-style: solid;
        border-radius: 20px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    .img-account {
        width: 80%;
        height:370px;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        border: 5px solid #4660c2;
    }
    .note-main {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition: 0.3s;
        border-radius: 30px;
    }

</style>
@using (Html.BeginForm("Account", "Home", FormMethod.Post))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                @*<h2 style="text-align: center; font-size: 30px; font-weight: 600;">CẬP NHẬT THÔNG TIN</h2>*@

                <div class="border-title">
                    <div class="container_title">
                        <h2 class="title">
                            <span class="title-word title-word-1">P</span>
                            <span class="title-word title-word-2">R</span>
                            <span class="title-word title-word-3">O</span>
                            <span class="title-word title-word-4">F</span>
                            <span class="title-word title-word-1">I</span>
                            <span class="title-word title-word-2">L</span>
                            <span class="title-word title-word-3">E</span>
                        </h2>
                    </div>
                </div>


            </div>
        </div>
        <br />
        <hr />
        <div class="row">
            @*<div class="col-lg-2 col-xs-0">

                </div>*@
            <div class="col-lg-5 col-sm-12 col-xs-12">
                @*<div class="row">
                    <div class="col-lg-12 col-xs-12" style="display: flex; justify-content: center;">
                        <input type="file" name="fileUpload" id="fileUpload" accept="images/*" style="display:none;" />
                        <img src="~/Content/images/@Model.Image_User" id="pictureUpload" class="img-account" />
                    </div>
                    <br />
                    <div class="col-lg-12 col-xs-12">
                        <input type="text" name="Image_User" id="Image_User" class="form-control center-block" placeholder="Nhập ảnh đại diện của bạn ở đây!" style="width:500px;height:200px;display:none;">
                        <input type="button" id="btnUpload" value="Chọn ảnh đại diện" class="btn btn-primary center-block btn-choose-avatar" />
                        @section upload
    {
                            <script>
                                $(function () {
                                    $('#btnUpload').click(function () {
                                        $('#fileUpload').trigger('click');
                                    });
                                });
                                $('#fileUpload').change(function () {
                                    if (window.FormData !== undefined) {
                                        var fileUpload = $('#fileUpload').get(0);
                                        var files = fileUpload.files;
                                        var formData = new FormData();
                                        formData.append('file', files[0]);
                                        $.ajax({
                                            type: 'POST',
                                            url: '/Home/ProcessUpload',
                                            contentType: false,
                                            processData: false,
                                            data: formData,
                                            success: function (urlImage) {
                                                $('#pictureUpload').attr('src', "/Content/images/" + urlImage);
                                                $('#Image_User').val(urlImage);
                                            },
                                            error: function (err) {
                                                alert('Error', err.statusText);
                                            }
                                        });
                                    }
                                });</script>
                        }
                    </div>
                </div>*@


                <div class="row">
                    <div class="col-lg-12 col-xs-12 note-main" style="padding:40px;">


                        <p style="font-size:15px">
                            Hello,
                            <span class="animate-charcter" style="text-align: center; font-size: 30px; font-weight: 500; font-family: 'Segoe UI Emoji'">
                                @Model.Name_User
                            </span>
                            🎉
                            <br />
                            I would like to introduce myself, I am
                            <span class="animate-charcter" style="text-align: center; font-size: 15px; font-weight: 300;">
                                Nhật Lê
                            </span>
                            and the owner of this English For Kids website, I built this website for the purpose of helping children learn English in an interesting and unconstrained way. How to build a website with many basic effects and operations to make it easier for children to absorb. Although not perfect, but I promise to constantly update the website for the best experience.
                            <br />
                            I hope
                            <span class="animate-charcter" style="text-align: center; font-size: 17px; font-weight: 300;">
                                @Model.Name_User
                            </span>
                            will learn English well and enjoy my website.
                            <br />
                            If you have any problems with the website, please contact me: <a href="https://www.facebook.com/Nhat.sun.1005/">Facebook</a> 💞
                            <br />
                            Thank you. 💖
                        </p>


                        @*<h1 class="animate-charcter" style="text-align: center; font-size: 30px; font-weight: 600;">
                            YOUR INFORMATION
                        </h1>
                        <div class="body-fake">
                            <section>
                                <div class="content">
                                    <h2>@Model.Name_User</h2>
                                    <h2>@Model.Name_User</h2>
                                </div>
                            </section>
                        </div>
                        <h3 class="animate-charcter" style="text-align: center; font-size: 30px; font-weight: 600;">
                            @Model.Name_User
                        </h3>*@
                    </div>
                </div>



            </div>
            <div class="col-lg-7 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-12 col-xs-12">
                        <div class="form-account">
                            <div class="row">
                                <div class="col-lg-12 col-xs-12" style="display: flex; justify-content: center;">
                                    <input type="file" name="fileUpload" id="fileUpload" accept="images/*" style="display:none;" />
                                    <img src="~/Content/images/@Model.Image_User" id="pictureUpload" class="img-account" />
                                </div>
                                <br />
                                <div class="col-lg-12 col-xs-12">
                                    <input type="text" name="Image_User" id="Image_User" class="form-control center-block" placeholder="Nhập ảnh đại diện của bạn ở đây!" style="width:500px;height:200px;display:none;">
                                    <input type="button" id="btnUpload" value="Choose your avatar" class="btn btn-primary center-block btn-choose-avatar bx-flashing-hover" />
                                    @section upload
    {
                                        <script>
                                            $(function () {
                                                $('#btnUpload').click(function () {
                                                    $('#fileUpload').trigger('click');
                                                });
                                            });
                                            $('#fileUpload').change(function () {
                                                if (window.FormData !== undefined) {
                                                    var fileUpload = $('#fileUpload').get(0);
                                                    var files = fileUpload.files;
                                                    var formData = new FormData();
                                                    formData.append('file', files[0]);
                                                    $.ajax({
                                                        type: 'POST',
                                                        url: '/Home/ProcessUpload',
                                                        contentType: false,
                                                        processData: false,
                                                        data: formData,
                                                        success: function (urlImage) {
                                                            $('#pictureUpload').attr('src', "/Content/images/" + urlImage);
                                                            $('#Image_User').val(urlImage);
                                                        },
                                                        error: function (err) {
                                                            alert('Error', err.statusText);
                                                        }
                                                    });
                                                }
                                            });</script>
                                    }
                                </div>
                            </div>

                            <hr />
                            <p>
                                <strong>Full name</strong>
                                @Html.ValidationMessageFor(model => model.Name_User, "", new { @class = "text-danger" })
                            </p>
                            @*<input type="text" name="Name_User" id="Name_User" class="form-control center-block" placeholder="Ví dụ: Lê Minh Nhật" style="width:100%;max-width:100%;" maxlength="35">*@
                            @Html.EditorFor(model => model.Name_User, "", new { htmlAttributes = new { @class = "form-control center-block", @placeholder = "Example: Lê Minh Nhật", @style = "width:100%;max-width:100%;", @maxlength = "35" } })
                            <br />
                            <p>
                                <strong>Email</strong>
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                <font style="color:red;">@ViewData["GmailFound"]</font>
                            </p>
                            @*<input type="email" class="form-control center-block" placeholder="Ví dụ: lmnhat.contact@gmail.com" style="width:100%;max-width:100%;" maxlength="30">*@
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control center-block", @placeholder = "Example: lmnhat.contact@gmail.com", @style = "width:100%;max-width:100%;", @maxlength = "30" } })

                            <br />
                            <p>
                                <strong>Phone number</strong>
                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                <font style="color:red;">@ViewData["PhoneNumberNotValid"]</font>
                            </p>
                            @*<input type="number" name="Phone" id="Phone" class="form-control center-block" placeholder="Nhập số điện thoại của bạn..." style="width:100%;max-width:100%;">*@
                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control center-block", @placeholder = "Enter your number ...", @style = "width:100%;max-width:100%;", @type = "number" } })

                            <br />
                            <p>
                                <strong>Gender</strong>
                                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                            </p>
                            <select id="Gender" name="Gender" class="form-control center-block" style="width:100%;max-width:100%;">
                                <option for="Gender" id="Gender" name="Gender" selected>@Html.ValueFor(model => model.Gender)</option>
                                <option for="Gender" id="Gender" name="Gender" value="Nam">Nam</option>
                                <option for="Gender" id="Gender" name="Gender" value="Nữ">Nữ</option>
                                <option for="Gender" id="Gender" name="Gender" value="Khác">Khác</option>
                            </select>
                            <br />
                            <p>
                                <strong>Birthday</strong>
                                @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
                            </p>
                            @*<input type="number" name="Birthday" id="Birthday" class="form-control center-block" placeholder="Nhập ngày sinh của bạn: dd/mm/yyyy" style="width:100%;max-width:100%;" maxlength="10">*@
                            @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "form-control center-block", @placeholder = "Enter your birthday: mm/dd/yyyy", @style = "width:100%;max-width:100%;", @maxlength = "30" } })

                            <br />
                            <p>
                                <input type="submit" name="Account" value="Update" class="btn btn-primary center-block btn-capnhat bx-flashing-hover" style="width: 100%;max-width:100%; border-radius: 10px;" />
                            </p>
                            @*<p>
            <a href="/Home/HomePage" class="btn btn-default center-block" style="width:100%;max-width:100%;border-radius:16px;">Trở lại trang chủ!</a>
        </p>*@
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

}

<br />
<br />
<br />
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>




