@model EnglishForKids_LMN.Models.UserBonus
@{ Layout = null; }

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/Style.css" rel="stylesheet" />
    <title>Register - English For Kids</title>
    <link href="~/Content/asset/signup.css" rel="stylesheet" />
    <link href="~/Content/asset/reponsive_signin_signup.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
    <style>
        .dangky {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>

<body style="background-color: #eceade;">
    <div>
        <div class="row">
            <div class="col-lg-12 col-xs-12 dangky">
                <audio autoplay="autoplay" controls hidden preload="auto">
                    <source src="~/Content/audio/SUPER MARIO BROS Final Trailer (4K ULTRA HD) 2023.mp3" type="audio/ogg">
                    <source src="~/Content/audio/SUPER MARIO BROS Final Trailer (4K ULTRA HD) 2023.mp3" type="audio/mpeg">
                </audio>

                <div class="form-dangky">
                    <form action="/Login/SignUp" method="post">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div>
                            <div class="text-center">
                                <h1 class="h1-dangky animate-charcter">Member Register</h1>
                            </div>
                            <p>
                                <strong>
                                    <label for="User_FullName">Full name</label>
                                </strong>
                                @Html.ValidationMessageFor(model => model.User_FullName, "", new { @class = "text-danger" })
                            </p>
                            <div class="input-group">
                                <input type="text" id="User_FullName" name="User_FullName" class="form-control" placeholder="Enter your full name ..." autofocus="1" maxlength="35" />
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-user"></i>
                                </span>
                            </div>
                            <br />
                            <p>
                                <strong>
                                    <label for="User_Mail">Email address</label>
                                </strong>
                                <font style="color:red;"> @ViewData["UserExisted"]</font>
                                @Html.ValidationMessageFor(model => model.User_Mail, "", new { @class = "text-danger" })
                            </p>
                            <div class="input-group">
                                <input type="text" id="User_Mail" name="User_Mail" class="form-control" placeholder="Example: lmnhat.contact@gmail.com" maxlength="30" />
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-envelope"></i>
                                </span>
                            </div>
                            <br />
                            <p>
                                <strong>
                                    <label for="User_Password">Password</label>
                                </strong>
                                @Html.ValidationMessageFor(model => model.User_Password, "", new { @class = "text-danger" })
                            </p>
                            <div class="input-group">
                                <input type="password" id="User_Password" name="User_Password" class="form-control" placeholder="Enter your password ..." maxlength="10" />
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-lock "></i>
                                </span>
                            </div>
                            <br />
                            <p>
                                <strong>
                                    <label for="Check_Password">Confirm password</label>
                                </strong>
                                <font style="color:red;"> @ViewData["WrongPassword"]</font>
                                @Html.ValidationMessageFor(model => model.Check_Password, "", new { @class = "text-danger" })
                            </p>
                            <div class="input-group">
                                <input type="password" id="Check_Password" name="Check_Password" class="form-control" placeholder="Enter your password again ..." maxlength="10" />
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-check "></i>
                                </span>
                            </div>
                            <div>
                                @*<button type="submit" name="SignUp" value="Sign Up" class="btn btn-primary btn-dangky">Register</button>*@


                                <div class="wrap">
                                    <button class="button" type="submit" name="SignUp" value="Sign Up">Register </button>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-xs-6">
                                    <p class="QuayLai">
                                        <a href="/Login/SignIn">Back to login page!</a>
                                    </p>
                                </div>
                                <div class="col-lg-6 col-xs-6">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        function myfunction() {
            var x = document.getElementById("Check_Password");
            var y = document.getElementById("Password_User");
            if (x.type == "password" && y.type == "password") {
                x.type = "text";
                y.type = "text";
            }
            else {
                x.type = "password";
                y.type = "password";
            }
        }
    </script>
        <script src="~/Scripts/jquery-3.4.1.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</body>
</html>
