@model IEnumerable<EnglishForKids_LMN.Models.Test>
@{ ViewBag.Title = "Choose Test - English For Kids";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<style>
    .layout-background-test {
        background-color: gray;
        border-radius: 20px;
    }

    .note-main {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition: 0.3s;
        border-radius: 30px;
    }
</style>

@*MAIN Bài kiếm tra CHÍNH*@
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12" style="position:relative;">
            <img src="~/Content/images/gif/turn-looking-around.gif" alt="results" style="width:15%; position: absolute; left: -270px; top: 50px" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12" style="position:relative;">
            <img src="~/Content/images/gif/light-fury-ice.gif" alt="results" style="width:20%; position: absolute; right: 660px; top: 600px" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            @*<h2 style="text-align: center; font-size: 30px; font-weight: 600;">KIỂM TRA 5 PHÚT</h2>*@



            <div class="border-title">
                <div class="container_title">
                    <h2 class="title">
                        <span class="title-word title-word-1">T</span>
                        <span class="title-word title-word-2">E</span>
                        <span class="title-word title-word-3">S</span>
                        <span class="title-word title-word-4">T</span>

                    </h2>
                </div>
            </div>


        </div>
    </div>
    <br />

    <hr />
    @*<div class="row">
                <div class="col-lg-2 col-xs-0">

                </div>
                <div class="col-lg-8 col-xs-12 layout-background-test">
                    @using EnglishForKids_LMN.Models;
                    @{ List<Test_Details> test_Details = Session["test_Details"] as List<Test_Details>;
                        int user_Code = int.Parse(Session["ID_User"].ToString()); }
                    @foreach (var item in Model)
                    {
        <div style="padding: 20px; background-color: black; width: 100%; max-width: 100%; border-radius: 20px; border: 2px solid #337ab7; margin-top: 20px; ">
            <a href="/Test/Do_Test/@item.ID_Test" style="color: white; text-decoration: none; text-align: center;">Bài kiểm tra: @item.Name_Test</a>
            @foreach (var item1 in test_Details)
            {
                if (item1.ID_Test == item.ID_Test && item1.ID_User == user_Code)
                {
        <p class="pull-right" style="color:white;">Số điểm: @item1.Test_Score/10</p>break;
        }
        }
        </div>
                        <br />}
                </div>
                <div class="col-lg-2 col-xs-0">

                </div>
            </div>*@






    <div class="row">


        @using EnglishForKids_LMN.Models;
        @{ List<Test_Details> test_Details = Session["test_Details"] as List<Test_Details>;
            int user_Code = int.Parse(Session["ID_User"].ToString()); }
        <div class="col-lg-4 col-sm-4 col-xs-12 note-main" style="padding:40px;">
            <div class="">
                @*<marquee direction="left">*@
                <h2 class="animate-charcter" style="text-align: center; font-size: 30px; font-weight: 600;">
                    Score statistics:
                </h2>
                @*</marquee>*@
                @foreach (var item in Model)
                {
    <ul>
        <li>
            <b>
                @item.Name_Test
            </b>
            @foreach (var item1 in test_Details)
            {
                if (item1.ID_Test == item.ID_Test && item1.ID_User == user_Code)
                {
<span>: @item1.Test_Score/10 score.</span>break;
}
}
        </li>
    </ul>}
            </div>
            <hr />
            <ol>
                <p class="animate-charcter" style="text-align: center; font-size: 20px; font-weight: 600;">
                    Note:
                </p>
                <li>
                    There are 10 questions including: multiple choice, essay.
                </li>
                <li>
                    1 correct answer is equivalent to 1 points.
                </li>
            </ol>
        </div>

        <div class="col-lg-8 col-sm-8 col-xs-12">
            @foreach (var item in Model)
            {
<a href="/Test/Do_Test/@item.ID_Test">
    <div class="col-lg-6 col-sm-6 col-xs-12" style="border-radius: 0; margin-top: 30px; display: flex; align-items: center; justify-content: center;">
        <div class="card" style="border-radius: 20px; background-color: #eceade;">
            <h1 class="animate-charcter text-center" style="text-align:center;color:black; font-size: 24px; font-weight: 700 ">@item.Name_Test</h1>

        </div>
    </div>

</a>        }
        </div>
    </div>





</div>
<br />
<br />


