@model EnglishForKids_LMN.Models.Test
@{ ViewBag.Title = "Create Test - English For Kids";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; }
<style>
    .text-danger {
        color: red;
    }
    .background-test-createT {
        padding: 20px;
        background-color: #fff;
        border: 10px; /* Viền của cái khối */
        border-color: rgb(0 0 0 / 2%);
        border-style: solid;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 20px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="border-title">
                <div class="container_title">
                    <h2 class="title" style="font-size:37px">
                        <span class="title-word title-word-1">Q</span>
                        <span class="title-word title-word-2">U</span>
                        <span class="title-word title-word-3">I</span>
                        <span class="title-word title-word-4">Z</span>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row background-test-createT">
        <div class="row">
            <div class="col-lg-2 col-sm-0 col-xs-0">

            </div>
            <div class="col-lg-8 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        @*<h2 style="text-align: center; font-size: 30px; font-weight: 600;">TẠO BÀI KIỂM TRA</h2>*@





                        <div class="text-center" style="background-color:antiquewhite">
                            <h2 class="animate-charcter" style="text-transform: uppercase; text-align: center; font-size: 30px; font-weight: 700;">
                                Create new test
                            </h2>
                        </div>

                        <br />
                        <hr />






                    </div>
                    <hr />
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        @using (Html.BeginForm("CreateT", "Test", FormMethod.Post))
                        {
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <p>
                                    <strong>Test name:</strong>
                                    @Html.ValidationMessageFor(model => model.Name_Test, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.Name_Test, "", new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter test name...", @minlength="1", @maxlength = "15", @autofocus="autofocus", @required="required" } })
                                </p>
                                <p>
                                    <strong>Test video:</strong>
                                    @Html.ValidationMessageFor(model => model.Video, "", new { @class = "text-danger" })
                                    @*@Html.EditorFor(model => model.Video, new { htmlAttributes = new { @class = "form-control", @placeholder = "Import test video file...", @maxlength = "30" } })*@
                                    <input class="bx-flashing-hover" style="padding:10px;" type="file" name="Video" accept=".mp4" required />
                                </p>
                                <p>
                                    <strong>Test paragraph:</strong>
                                    @Html.ValidationMessageFor(model => model.Paragraph, "", new { @class = "text-danger" })
                                    @*@Html.EditorFor(model => model.Paragraph, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter test paragraph name...", @maxlength = "30" } })*@
                                    <input class="bx-flashing-hover" style="padding:10px;" type="file" name="Paragraph" accept=".txt" required />
                                </p>
                            </div>
                            <div class="row">
                                <div class="col-lg-2 col-sm-2 col-xs-0">

                                </div>
                                <div class="col-lg-8 col-sm-8 col-xs-12">
                                    <input type="submit" name="CreateT" value="Add new test" class="btn btn-primary bx-flashing-hover center-block" style="width:100%;" />
                                </div>
                                <div class="col-lg-2 col-sm-2 col-xs-0">

                                </div>
                                
                            </div>
                            }
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-0 col-xs-0">

            </div>
        </div>
    </div>
    <br />
</div>
@*<h2>Thêm bài kiểm tra</h2>
@using (Html.BeginForm("CreateT", "Test", FormMethod.Post))
{
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <p><strong>Tên bài kiểm tra : </strong> @Html.ValidationMessageFor(model => model.Name_Test, "", new { @class = "text-danger" })</p>
                                @Html.EditorFor(model => model.Name_Test, "", new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập tên bài kiểm tra ...", @maxlength = "50" } })
                                                <br />
                                                                <p><strong>Video kiểm tra : </strong> @Html.ValidationMessageFor(model => model.Video, "", new { @class = "text-danger" })</p>
                                                                                @Html.EditorFor(model => model.Video, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập đường dẫn video kiểm tra ...", @maxlength = "50" } })
                                                                                                <br />
                                                                                                                <p><strong>Đoạn văn kiểm tra : </strong> @Html.ValidationMessageFor(model => model.Paragraph, "", new { @class = "text-danger" })</p>
                                                                                                                                @Html.EditorFor(model => model.Paragraph, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập tên đoạn văn kiểm tra ...", @maxlength = "50" } })
                                                                                                                                                <br />
                                                                                                                                                                <br />
                                                                                                                                                                                <p>
                                                                                                                                                                                    <input type="submit" name="CreateT" value="Thêm" class="btn btn-success" />
                                                                                                                                                                                </p>}*@
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>


