@model EnglishForKids_LMN.Models.Test
@{ ViewBag.Title = "Edit Question - English For Kids";
    if (Session["ID_User"] != null)
    {
        Response.Redirect("~/Home/HomePage");
    }
    if (Session["Admin_Code"] != null)
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    if (Session["ID_User"] == null && Session["Admin_Code"] == null)
    {
        Response.Redirect("~/Login/SignIn");
    }
}
<style>

    .text-danger {
        color: red;
    }

    .background-test-editT {
        padding: 20px;
        background-color: #fff;
        border: 10px; /* Viền của cái khối */
        border-color: rgb(0 0 0 / 2%);
        border-style: solid;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 20px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="border-title">
                <div class="container_title">
                    <h2 class="title" style="font-size:37px">
                        <span class="title-word title-word-1">T</span>
                        <span class="title-word title-word-2">E</span>
                        <span class="title-word title-word-3">S</span>
                        <span class="title-word title-word-4">T</span>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row background-test-editT">
        <div class="row">
            <div class="col-lg-2 col-sm-0 col-xs-0">

            </div>
            <div class="col-lg-8 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div class="text-center" style="background-color:antiquewhite">
                            <h2 class="animate-charcter" style="text-transform: uppercase; text-align: center; font-size: 30px; font-weight: 700;">
                                Edit test
                            </h2>
                        </div>
                        <br />
                        <hr />
                    </div>
                    <hr />
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        @using (Html.BeginForm("EditQ", "Test", FormMethod.Post))
                        {
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.ID_Test)
                            <div class="form-group">
                                <p>
                                    <strong>Test name:</strong>
                                    @Html.ValidationMessageFor(model => model.Name_Test, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.Name_Test, "", new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter test name...", @minlength = "2", @maxlength = "15", @autofocus = "autofocus", @required = "required" } })
                                </p>
                                @*<p>
                                        <strong>Test video:</strong>
                                        @Html.ValidationMessageFor(model => model.Video, "", new { @class = "text-danger" })
                                        @Html.EditorFor(model => model.Video, new { htmlAttributes = new { @class = "form-control", @placeholder = "Import test video file...", @minlength = "2", @maxlength = "50", @autofocus = "autofocus", @required = "required" } })
                                    </p>*@
                                <p>
                                    <strong>
                                        Test video:
                                    </strong>
                                    <input type="file" name="fileUpload" id="fileUpload3" accept=".mp4" style="display:none;" />
                                    @Html.ValidationMessageFor(model => model.Video, "", new { @class = "text-danger" })
                                    <div class="row">
                                        <div class="col-lg-8 col-sm-8 col-xs-8">
                                            @Html.EditorFor(model => model.Video, new { htmlAttributes = new { @class = "form-control", @placeholder = "Import test video file....", @maxlength = "50", @minlength = "2", @required = "required", @readonly = "readonly" } })
                                        </div>
                                        <div class="col-lg-4 col-sm-4 col-xs-4">
                                            <input type="button" id="btnUpload3" value="Change video" class="btn btn-info bx-flashing-hover" style="width: 100%" />
                                        </div>
                                    </div>
                                </p>
                                @section upload3
    {
                                    <script>
                                        $(function () {
                                            $('#btnUpload3').click(function () {
                                                $('#fileUpload3').trigger('click');
                                            });
                                        });
                                        $('#fileUpload3').change(function () {
                                            if (window.FormData !== undefined) {
                                                var fileUpload = $('#fileUpload3').get(0);
                                                var files = fileUpload.files;
                                                var formData = new FormData();
                                                formData.append('file', files[0]);
                                                $.ajax({
                                                    type: 'POST',
                                                    url: '/Test/ProcessUpload2',
                                                    contentType: false,
                                                    processData: false,
                                                    data: formData,
                                                    success: function (video) {
                                                        $('#Video').val(video);
                                                    },
                                                    error: function (err) {
                                                        alert('Error', err.statusText);
                                                    }
                                                });
                                            }
                                        });</script>
                                }
                                @*<p>
                                        <strong>Test paragraph:</strong>
                                        @Html.ValidationMessageFor(model => model.Paragraph, "", new { @class = "text-danger" })
                                        @Html.EditorFor(model => model.Paragraph, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter test paragraph name...", @minlength = "2", @maxlength = "50", @autofocus = "autofocus", @required = "required" } })
                                    </p>*@
                                <p>
                                    <strong>
                                        Test paragraph:
                                    </strong>
                                    <input type="file" name="fileUpload" id="fileUpload2" accept=".txt" style="display:none;" />
                                    @Html.ValidationMessageFor(model => model.Paragraph, "", new { @class = "text-danger" })
                                    <div class="row">
                                        <div class="col-lg-8 col-sm-8 col-xs-8">
                                            @Html.EditorFor(model => model.Paragraph, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter test paragraph name...", @maxlength = "50", @minlength = "2", @required = "required", @readonly = "readonly" } })
                                        </div>
                                        <div class="col-lg-4 col-sm-4 col-xs-4">
                                            <input type="button" id="btnUpload2" value="Change paragraph" class="btn btn-info bx-flashing-hover" style="width: 100%" />
                                        </div>
                                    </div>
                                </p>
                                @section upload2
    {
                                    <script>
                                        $(function () {
                                            $('#btnUpload2').click(function () {
                                                $('#fileUpload2').trigger('click');
                                            });
                                        });
                                        $('#fileUpload2').change(function () {
                                            if (window.FormData !== undefined) {
                                                var fileUpload = $('#fileUpload2').get(0);
                                                var files = fileUpload.files;
                                                var formData = new FormData();
                                                formData.append('file', files[0]);
                                                $.ajax({
                                                    type: 'POST',
                                                    url: '/Test/ProcessUpload1',
                                                    contentType: false,
                                                    processData: false,
                                                    data: formData,
                                                    success: function (txt) {
                                                        $('#Paragraph').val(txt);
                                                    },
                                                    error: function (err) {
                                                        alert('Error', err.statusText);
                                                    }
                                                });
                                            }
                                        });</script>
                                }
                            </div>
                            <div class="row">
                                <div class="col-lg-2 col-sm-2 col-xs-0">

                                </div>
                                <div class="col-lg-8 col-sm-8 col-xs-12">
                                    <input type="submit" name="EditQ" value="Update" class="btn btn-primary bx-flashing-hover center-block" style="width:100%;" />
                                </div>
                                <div class="col-lg-2 col-sm-2 col-xs-0">

                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-0 col-xs-0">

            </div>
        </div>
    </div>
    <br />
</div>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>


