@model EnglishForKids_LMN.Models.Question
@{ ViewBag.Title = "Edit Question - English For Kids";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    if (Session["ID_User"] == null && Session["Admin_Code"] == null)
    {
        Response.Redirect("~/Login/SignIn");
    }
}
<style>

    .text-danger {
        color: red;
    }

    .background-test-editT {
        padding: 20px;
        background-color: #fff;
        border: 10px; /* Viền của cái khối */
        border-color: rgb(0 0 0 / 2%);
        border-style: solid;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 20px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="border-title">
                <div class="container_title">
                    <h2 class="title" style="font-size:37px">
                        <span class="title-word title-word-1">T</span>
                        <span class="title-word title-word-2">E</span>
                        <span class="title-word title-word-3">S</span>
                        <span class="title-word title-word-4">T</span>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row background-test-editT">
        <div class="row">
            <div class="col-lg-2 col-sm-0 col-xs-0">

            </div>
            <div class="col-lg-8 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        @*<h2 style="text-align: center; font-size: 30px; font-weight: 600;">SỬA BÀI KIỂM TRA</h2>*@


                        <div class="text-center" style="background-color:antiquewhite">
                            <h2 class="animate-charcter" style="text-transform: uppercase; text-align: center; font-size: 30px; font-weight: 700;">
                                Edit question
                            </h2>
                        </div>

                        <br />
                        <hr />



                    </div>
                    <hr />
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        @using (Html.BeginForm("EditQuestion", "Test", FormMethod.Post))
                        {
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.ID_Question)
                        <div class="form-group">
                            <p>
                                <strong>Content</strong>
                                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.Content, "", new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter test name...", @maxlength = "50" } })
                            </p>
                            <p>
                                <strong>Type</strong>
                                <select id="Type_Question" name="Type_Question" class="form-control center-block" style="width:100%;max-width:100%;" required>
                                        <option for="Type_Question" id="Type_Question" name="Type_Question" selected hidden>@Html.ValueFor(model => model.Type_Question)</option>
                                        <option for="Type_Question" id="Type_Question" name="Type_Question" value="multipe-choice">multipe-choice</option>
                                        <option for="Type_Question" id="Type_Question" name="Type_Question" value="text">text</option>
                                        <option for="Type_Question" id="Type_Question" name="Type_Question" value="paragraph">paragraph</option>
                                        <option for="Type_Question" id="Type_Question" name="Type_Question" value="video">video</option>
                                </select>
                            </p>
                            <p>
                                <strong>Answer 1</strong>
                                @Html.ValidationMessageFor(model => model.Answer_Content1, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.Answer_Content1, "", new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter test name...", @maxlength = "50" } })
                            </p>
                            <p>
                                <strong>Answer 2</strong>
                                @Html.ValidationMessageFor(model => model.Answer_Content2, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.Answer_Content2, "", new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter test name...", @maxlength = "50" } })
                            </p>
                            <p>
                                <strong>Answer 3</strong>
                                @Html.ValidationMessageFor(model => model.Answer_Content3, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.Answer_Content3, "", new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter test name...", @maxlength = "50" } })
                            </p>
                            <p>
                                <strong>Answer 4</strong>
                                @Html.ValidationMessageFor(model => model.Answer_Content4, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.Answer_Content4, "", new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter test name...", @maxlength = "50" } })
                            </p>
                            <p>
                                <strong>Correct</strong>
                                @Html.ValidationMessageFor(model => model.Answer_Correct, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.Answer_Correct, "", new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter test name...", @maxlength = "50" } })
                            </p>
                            <p>
                                <strong>ID test</strong>
                                @Html.ValidationMessageFor(model => model.ID_Test, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.ID_Test, "", new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter test name...", @maxlength = "50" } })
                            </p>

                        </div>
                            <div class="row">
                                <div class="col-lg-2 col-sm-2 col-xs-0">

                                </div>
                                <div class="col-lg-8 col-sm-8 col-xs-12">
                                    <input type="submit" name="EditQuestion" value="Update" class="btn btn-primary bx-flashing-hover center-block" style="width:100%;" />
                                </div>
                                <div class="col-lg-2 col-sm-2 col-xs-0">

                                </div>

                            </div>

                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-0 col-xs-0">

            </div>
        </div>
    </div>
    <br />
</div>
@*<h2>Sửa bài kiểm</h2>
    @using (Html.BeginForm("EditQ", "Test", FormMethod.Post))
    {
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID_Test)
                                    <p><strong>Tên bài kiểm tra : </strong> @Html.ValidationMessageFor(model => model.Name_Test, "", new { @class = "text-danger" })</p>
                                                    @Html.EditorFor(model => model.Name_Test, "", new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập tên bài kiểm tra ...", @maxlength = "50" } })
                                                                    <br />
                                                                                    <p><strong>Video kiểm tra : </strong> @Html.ValidationMessageFor(model => model.Video, "", new { @class = "text-danger" })</p>
                                                                                                    @Html.EditorFor(model => model.Video, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập đường dẫn video kiểm tra ...", @maxlength = "50" } })
                                                                                                                    <br />
                                                                                                                                    <p><strong>Đoạn văn kiểm tra : </strong> @Html.ValidationMessageFor(model => model.Paragraph, "", new { @class = "text-danger" })</p>
                                                                                                                                                    @Html.EditorFor(model => model.Paragraph, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập tên đoạn văn kiểm tra ...", @maxlength = "50" } })
                                                                                                                                                                    <br />
                                                                                                                                                                                    <br />
                                                                                                                                                                                                    <p>
                                                                                                                                                                                                        <input type="submit" name="EditQ" value="Lưu" class="btn btn-success" />
                                                                                                                                                                                                    </p>}*@
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>


