@model PagedList.IPagedList<EnglishForKids_LMN.Models.Question>
@{ ViewBag.Title = "Result Test - English For Kids";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Session["ID_User"] == null && Session["Admin_Code"] == null)
    {
        Response.Redirect("~/Login/SignIn");
    }

    var resultTest = Convert.ToInt32(Session["Test_Score"]);
}

<style>
    .background-quiz-result {
        padding: 20px;
        background-color: #fff;
        border: 10px; /* Viền của cái khối */
        border-color: rgb(0 0 0 / 2%);
        border-style: solid;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 20px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
</style>
<div class="container">


    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="border-title">
                <div class="container_title">
                    <h2 class="title">
                        <span class="title-word title-word-1">T</span>
                        <span class="title-word title-word-2">E</span>
                        <span class="title-word title-word-3">S</span>
                        <span class="title-word title-word-4">T</span>
                    </h2>
                </div>
            </div>
        </div>
    </div>


    <div class="row background-quiz-result">
        <div class="row">
            <div class="col-lg-2 col-sm-0 col-xs-0">

            </div>
            <div class="col-lg-8 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div class="text-center" style="background-color:antiquewhite">
                            <h2 class="animate-charcter" style="text-transform: uppercase; text-align: center; font-size: 50px; font-weight: 700;">
                                Statistical tables
                            </h2>
                        </div>
                    </div>
                </div>
                <br />

                <div class="row">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-xs-12" style="position:relative;">
                            <img src="~/Content/images/resultmain3.png" alt="results" style="width:16%; position: absolute; right: 44px; top: 70px" />
                        </div>
                    </div>
                    <br />

                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <h2 style="text-align: center; font-weight: bold">Total score: @Session["Test_Score"]/10</h2>
                        @{
                            var choice1 = Session["choice1"] as string;
                            var choice2 = Session["choice2"] as string;
                            var choice3 = Session["choice3"] as string;
                            var choice4 = Session["choice4"] as string;
                            var choice5 = Session["choice5"] as string;
                            var choice6 = Session["choice6"] as string;
                            var choice7 = Session["choice7"] as string;
                            var text1 = Session["text1"] as string;
                            var text2 = Session["text2"] as string;
                            var text3 = Session["text3"] as string;
                        }

                        <p>Choice 1: @choice1</p>
                        <p>Choice 2: @choice2</p>
                        <p>Choice 3: @choice3</p>
                        <p>Choice 4: @choice4</p>
                        <p>Choice 5: @choice5</p>
                        <p>Choice 6: @choice6</p>
                        <p>Choice 7: @choice7</p>
                        <p>Text 1: @text1</p>
                        <p>Text 2: @text2</p>
                        <p>Text 3: @text3</p>
                    </div>
                </div>














                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12">

                        @{
                            try
                            {

                                // Khi trên 5 điểm thì sẽ hiện âm thanh win và img lên
                                // Dưới 5 thì ngược lại
                                // Check total score and show alert
                                int totalScore = (int)Session["Test_Score"];
                                if (totalScore > 5)
                                {
                                    <script>
                                            //alert('Congratulations, you have scored over 5 points!');
                                            if (@Session["Test_Score"] > 5) {
                                                var fireworks1 = $('<img>').attr('src', '/Content/images/gif/phaohoa1.gif')
                                                    .css({
                                                        'width': '20%',
                                                        'position': 'absolute',
                                                        'right': '-20px',
                                                        'top': '200px'
                                                    });
                                                var fireworks2 = $('<img>').attr('src', '/Content/images/gif/phaohoa2.gif')
                                                    .css({
                                                        'width': '20%',
                                                        'position': 'absolute',
                                                        'left': '-20px',
                                                        'top': '200px'
                                                    });
                                                var fireworks = $('<audio>').attr('src', '/Content/audio/win.mp3').attr('autoplay', true).attr('loop', true);
                                                $('.container').append(fireworks);
                                                $('.container').append(fireworks1);
                                                $('.container').append(fireworks2);;

                                            }
                                    </script>
                                }
                                else
                                {
                                    <script>
                                            //alert('Sorry, you scored under 5 points. Please try again.');
                                            if (@Session["Test_Score"] < 5) {
                                                var sadface1 = $('<img>').attr('src', '/Content/images/gif/rain1.gif')
                                                    .css({
                                                        'width': '20%',
                                                        'position': 'absolute',
                                                        'right': '70px',
                                                        'top': '50px'
                                                    });
                                                var sadface2 = $('<img>').attr('src', '/Content/images/gif/gif_lose_5.gif')
                                                    .css({
                                                        'width': '12%',
                                                        'position': 'absolute',
                                                        'left': '220px',
                                                        'top': '100px'
                                                    });
                                                var sadface = $('<audio>').attr('src', '/Content/audio/lose.mp3').attr('autoplay', true).attr('loop', true);
                                                $('.container').append(sadface);
                                                $('.container').append(sadface1);
                                                $('.container').append(sadface2);
                                            }
                                    </script>
                                }



                            }
                            catch (Exception ex) { Console.WriteLine(ex.StackTrace); }
                        }


                    </div>
                </div>


















                <br />
                <br />


                <div class="row">
                    <div class="col-lg-6 col-sm-6 col-xs-6">
                        @Html.ActionLink("Back to test page!", "Choose_Test", "Test", new { @class = "btn btn-warning bx-fade-left" })
                    </div>
                    <div class="col-lg-6 col-sm-6 col-xs-6">

                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-0 col-xs-0">

            </div>
        </div>
    </div>
</div>
<br />

