<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/asset/navbar_scroll.css" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href="~/Content/boxicons.css" rel="stylesheet" />
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>*@
    <script src="~/Scripts/jquery-3.6.0.js"></script>

    @*<link href="~/Content/asset/navbaradmin.css" rel="stylesheet" />*@
    <link href="~/Content/asset/background_layout.css" rel="stylesheet" />





    <link href="~/Content/Style.css" rel="stylesheet" />
    <link href="~/Content/asset/userview.css" rel="stylesheet" />



    <link href="~/Content/asset/reponsive_list_vocabulary.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
    <link href="~/Content/asset/footer.css" rel="stylesheet" />

    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    @*@Styles.Render("~/Content/css")*@
</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("EnglishForKids", "HomePage", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Quản lý từ vựng<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/Vocabulary/ListVocabulary">Danh sách từ vựng</a>
                                </li>
                                <li>
                                    <a href="/Vocabulary/ListVocabularyType">Danh sách thể loại</a>
                                </li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Quản lý câu chuyện", "ListStory", "Story")</li>
                        <li>@Html.ActionLink("Quản lý câu đố", "ListQuiz", "Quiz")</li>
                        <li>@Html.ActionLink("Quản lý bài kiểm tra", "ListTest", "Test")</li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><img src="~/Content/images/@Session["Image_User"]" class="avatar" /></li>s
                        <li><a href="/Home/Account">@Session["Name_User"]</a></li>
                        <li class="pull-right">@Html.ActionLink("Thoát", "Logout", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>*@
    <div class="wrapper">
        <div class="sidebar">
            <div class="logo-details">
                <i class='bx bx-sun bx-tada'></i>
                <span class="logo_name">EnglishForKids</span>
            </div>
            <ul class="nav-links">
                <li>
                    <a href="@Url.Action("HomePage", "Home", new { area = "" })">
                        <i class='bx bx-home-heart bx-tada'></i>
                        <span class="link_name">Home</span>
                    </a>
                    <ul class="sub-menu blank">
                        <li>
                            @*<a class="link_name" href="#">Trang chủ</a>*@
                            <a href="@Url.Action("HomePage", "Home", new { area = "" })">Home</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Home", new { area = "" })">
                        <i class='bx bx-bar-chart-alt bx-tada'></i>
                        <span class="link_name">Statistical</span>
                    </a>
                    <ul class="sub-menu blank">
                        <li>
                            @*<a class="link_name" href="#">Trang chủ</a>*@
                            <a href="@Url.Action("Index", "Home", new { area = "" })">Statistical</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="icon-link">
                        <a href="#">
                            <i class='bx bxs-graduation bx-tada'></i>
                            <span class="link_name">Vocabulary</span>
                        </a>
                        <i class='bx bxs-chevron-down arrow'></i>
                    </div>
                    <ul class="sub-menu">
                        @*<li><a class="link_name" href="#">Câu đố</a></li>*@
                        <li><a href="/Vocabulary/ListVocabulary">Vocabulary List</a></li>
                        <li><a href="/Vocabulary/ListVocabularyType">Category List</a></li>
                    </ul>
                </li>
                <li>
                    <a href="@Url.Action("ListStory", "Story")">
                        <i class='bx bxl-firebase bx-tada'></i>
                        <span class="link_name">Story</span>
                    </a>
                    <ul class="sub-menu blank">
                        <li><a class="link_name" href="@Url.Action("ListStory", "Story")">Story</a></li>
                    </ul>
                </li>
                <li>
                    <a href="@Url.Action("ListQuiz", "Quiz")">
                        <i class='bx bxs-book-heart bx-tada'></i>
                        <span class="link_name">Quiz</span>
                    </a>
                    <ul class="sub-menu blank">
                        <li><a class="link_name" href="@Url.Action("ListQuiz", "Quiz")">Quiz</a></li>
                    </ul>
                </li>

                <li>
                    <a href="@Url.Action("ListTest", "Test")">
                        <i class='bx bx-notepad bx-tada'></i>
                        <span class="link_name">Test</span>
                    </a>
                    <ul class="sub-menu blank">
                        <li><a class="link_name" href="@Url.Action("ListTest", "Test")">Test</a></li>
                    </ul>
                </li>
                @*<li>
            <a href="@Url.Action("GoogleTranslate", "GoogleTranslate")">
                <i class='bx bx-captions bx-tada'></i>
                <span class="link_name">Google dịch</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="@Url.Action("GoogleTranslate", "GoogleTranslate")">Google dịch</a></li>
            </ul>
        </li>*@
                <li style="bottom:0; position:fixed">
                    <a href="/Home/Account">
                        <i class='bx bx-user bx-burst'></i>
                    </a>
                    <ul class="sub-menu blank">
                        <li><a class="link_name" href="/Home/Account">Hi, @Session["Name_User"]!</a></li>
                    </ul>
                </li>

                <li>
                    <div class="profile-details" style="width: 300px; border-radius: 0 100px 100px 0px;">
                        <div class="profile-content">

                        </div>
                        <div class="name-job">
                            <div class="profile_name">
                                <a href="/Home/Account">
                                    <span class="link_name">Hi, @Session["Name_User"]!</span>
                                </a>

                            </div>
                            <div class="job">Nice to meet you</div>
                        </div>
                        <a class="link_name" href="@Url.Action("Logout", "Home")">
                            <i class='bx bx-log-out'>
                            </i>
                        </a>
                    </div>
                </li>

            </ul>
        </div>

        <section class="home-section" style="width:100%">
            <div class="home-content">
                <i class='bx bx-menu'></i>
                <span class="text">Dashboard</span> <br />
            </div>
            <div class="background_layout">
                @RenderBody()
            </div>



            @*MAIN FOOTER CHÍNH*@
        <footer class="new_footer_area bg_color">
            <div class="new_footer_top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="f_widget company_widget wow fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                                <h3 class="f-title f_600 t_color f_size_18">Leave message</h3>
                                <p>Sign up for our latest updates!</p>
                                <form action="#" class="f_subscribe_two mailchimp" method="post" novalidate="true" _lpchecked="1">
                                    <input type="text" name="EMAIL" class="form-control memail" placeholder="Example: lmnhat.contact@gmail.com">
                                    <button class="btn btn_get btn_get_two" type="submit">Register</button>
                                    <p class="mchimp-errmessage" style="display: none;"></p>
                                    <p class="mchimp-sucmessage" style="display: none;"></p>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                                <h3 class="f-title f_600 t_color f_size_18">Page</h3>
                                <ul class="list-unstyled f_list">
                                    <li><a href="/Vocabulary/User_View">Vocabulary</a></li>
                                    <li><a href="/Story/User_View">Story</a></li>
                                    <li><a href="/Quiz/Choose_Image_Quiz">Quiz</a></li>
                                    <li><a href="/Test/Choose_Test">Test</a></li>
                                    <li><a href="/GoogleTranslate/GoogleTranslate">Translate</a></li>
                                    <li><a href="/Home/Account">Your Profile</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                                <h3 class="f-title f_600 t_color f_size_18">Help</h3>
                                <ul class="list-unstyled f_list">
                                    <li><a href="#">Common problems?</a></li>
                                    <li><a href="#">What devices can use the website?</a></li>
                                    <li><a href="#">Why is my phone broken when I go to the site?</a></li>
                                    <li><a href="#">Do you have any other function?</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="f_widget social-widget pl_70 wow fadeInLeft" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
                                <h3 class="f-title f_600 t_color f_size_18">Contact</h3>
                                <div class="f_social_icon">
                                    <a href="https://www.facebook.com/Nhat.sun.1005/" class="fab fa-facebook"></a>
                                    <a href="#" class="fab fa-twitter"></a>
                                    <a href="#" class="fab fa-linkedin"></a>
                                    <a href="#" class="fab fa-pinterest"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer_bg">
                    <div class="footer_bg_one"></div>
                    <div class="footer_bg_two"></div>
                </div>
            </div>
        </footer>



            @*MAIN FOOTER CHÍNH*@

        </section>
    </div>
    <script>
        let arrow = document.querySelectorAll(".arrow");
        for (var i = 0; i < arrow.length; i++) {
            arrow[i].addEventListener("click", (e) => {
                let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
                arrowParent.classList.toggle("showMenu");
            });
        }
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".bx-menu");
        console.log(sidebarBtn);
        /* sidebarBtn.addEventListener("click", () => {
          sidebar.classList.toggle("close");
        }); */
        $(function () {
            /* console.log("width: "+ document.body.clientWidth); */

            resizeScreen();
            $(window).resize(function () {
                resizeScreen();
            });
            $('.bx-menu').click(function () {

                if (document.body.clientWidth > 400) {
                    $('.sidebar').toggleClass('close');
                } else {
                    $('.sidebar').toggleClass('small-screen');
                }
            });

            function resizeScreen() {
                if (document.body.clientWidth < 400) {
                    $('.sidebar').addClass('close');
                } else {
                    $('.sidebar').removeClass('close');
                }
            }
        });
    </script>


    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("upload", required: false)
    @RenderSection("upload1", required: false)
    @RenderSection("add", required: false)
    @RenderSection("delete", required: false)
</body>


</html>
