@model EnglishForKids_LMN.Models.StoryBonus
@{ ViewBag.Title = "Create Story - English For Kids";
                Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; }
<style>
    .text-danger {
        color: red;
    }
    .background-story-createS {
        padding: 20px;
        background-color: #fff;
        border: 10px; /* Viền của cái khối */
        border-color: rgb(0 0 0 / 2%);
        border-style: solid;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 20px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="border-title">
                <div class="container_title">
                    <h2 class="title" style="font-size:37px">
                        <span class="title-word title-word-1">S</span>
                        <span class="title-word title-word-2">T</span>
                        <span class="title-word title-word-3">O</span>
                        <span class="title-word title-word-4">R</span>
                        <span class="title-word title-word-1">Y</span>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row background-story-createS">
        <div class="row">
            <div class="col-lg-12 col-xs-12">
                @*<h2 style="text-align: center; font-size: 30px; font-weight: 600;">TẠO MỚI CÂU CHUYỆN</h2>*@


                <div class="text-center" style="background-color:antiquewhite">
                    <h2 class="animate-charcter" style="text-transform: uppercase; text-align: center; font-size: 30px; font-weight: 700;">
                        Create new story
                    </h2>
                </div>


            </div>
            </div>



        <br />
        <hr />
        <div class="row">
            <div class="col-lg-2 col-xs-0">

            </div>
            <div class="col-lg-8 col-xs-12">
                @using (Html.BeginForm("CreateS", "Story", FormMethod.Post))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-lg-12 col-xs-12">
                            <div>
                                <input type="file" name="fileUpload" id="fileUpload" accept="images/*" style="display:none;" />
                                <img src="~/Content/images/@Model.Banner" id="pictureUpload" style="width: 100%; height: 350px; border-radius: 10%" alt="Story banner" />
                                <br />
                                @Html.EditorFor(model => model.Banner, "", new { htmlAttributes = new { @class = "form-control center-block", @placeholder = "Type image string ...", @style = "width:500px;height:200px;display:none;", @maxlength = "50" } })
                                <p><input type="button" id="btnUpload" value="Choose banner" class="btn btn-success bx-flashing-hover center-block" /></p>
                                <p>@Html.ValidationMessageFor(model => model.Banner, "", new { @class = "text-danger" })</p>
                                <br />
                                <br />
                                @section upload
                                {
                                    <script>
                                        $(function () {
                                            $('#btnUpload').click(function () {
                                                $('#fileUpload').trigger('click');
                                            });
                                        });
                                        $('#fileUpload').change(function () {
                                            if (window.FormData !== undefined) {
                                                var fileUpload = $('#fileUpload').get(0);
                                                var files = fileUpload.files;
                                                var formData = new FormData();
                                                formData.append('file', files[0]);
                                                $.ajax({
                                                    type: 'POST',
                                                    url: '/Story/ProcessUpload',
                                                    contentType: false,
                                                    processData: false,
                                                    data: formData,
                                                    success: function (urlImage) {
                                                        $('#pictureUpload').attr('src', "/Content/images/" + urlImage);
                                                        $('#Banner').val(urlImage);
                                                    },
                                                    error: function (err) {
                                                        alert('Error', err.statusText);
                                                    }
                                                });
                                            }
                                        });
                                    </script>
                                }
                            </div>
                        </div>
                    </div>
                <div>
                    <input type="file" name="fileUpload" id="fileUpload1" accept="images/*" style="display:none;" />
                    <img src="~/Content/images/@Model.Image_Story" id="pictureUpload1" class="form-control center-block" style="width: 100%; height: 500px; border-radius:20px" alt="Story image" />
                    <br />
                    @Html.EditorFor(model => model.Image_Story, "", new { htmlAttributes = new { @class = "form-control center-block", @placeholder = "Type image string ...", @style = "width:500px;height:200px;display:none;", @maxlength = "50" } })
                    <br />
                    <p><input type="button" id="btnUpload1" value="Choose image" class="btn btn-success bx-flashing-hover center-block" /></p>
                </div>
                @section upload1
    {
                    <script>
                        $(function () {
                            $('#btnUpload1').click(function () {
                                $('#fileUpload1').trigger('click');
                            });
                        });
                        $('#fileUpload1').change(function () {
                            if (window.FormData !== undefined) {
                                var fileUpload = $('#fileUpload1').get(0);
                                var files = fileUpload.files;
                                var formData = new FormData();
                                formData.append('file', files[0]);
                                $.ajax({
                                    type: 'POST',
                                    url: '/Story/ProcessUpload',
                                    contentType: false,
                                    processData: false,
                                    data: formData,
                                    success: function (urlImage) {
                                        $('#pictureUpload1').attr('src', "/Content/images/" + urlImage);
                                        $('#Image_Story').val(urlImage);
                                    },
                                    error: function (err) {
                                        alert('Error', err.statusText);
                                    }
                                });
                            }
                        });</script>
                }
                <div class="form-group">
                    <p>
                        <strong>
                            @*@Html.LabelFor(model => model.Name_Story)*@
                            Story name:
                        </strong> 
                        @Html.ValidationMessageFor(model => model.Name_Story, "", new { @class = "text-danger" })
                        @Html.EditorFor(model => model.Name_Story, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter story name...", @maxlength = "20", @minlength="2", @autofocus= "autofocus", @required="required" } })
                    </p>
                    <p>
                        <strong>
                            @*@Html.LabelFor(model => model.EN_Content)*@
                            English content:
                        </strong>
                        @Html.ValidationMessageFor(model => model.EN_Content, "", new { @class = "text-danger" })
                        @*@Html.EditorFor(model => model.EN_Content, new { htmlAttributes = new { @class = "form-control", @placeholder = "Import the file EN the story content...", @maxlength = "50", @minlength = "2", @autofocus = "autofocus", @required = "required" } })*@
                        <input type="file" name="EN_Content" accept=".txt" required />
                    </p>
                    <p>
                        <strong>
                            @*@Html.LabelFor(model => model.VN_Content)*@
                            Vietnamese content:
                        </strong> 
                        @Html.ValidationMessageFor(model => model.VN_Content, "", new { @class = "text-danger" })
                        @*@Html.EditorFor(model => model.VN_Content, new { htmlAttributes = new { @class = "form-control", @placeholder = "Import the VN file with story content...", @maxlength = "50", @minlength = "2", @autofocus = "autofocus", @required = "required" } })*@
                        <input type="file" name="VN_Content" accept=".txt" required />
                    </p>
                    <p>
                        <strong>
                            @*@Html.LabelFor(model => model.Audio)*@
                            Story audio:
                        </strong>
                        @Html.ValidationMessageFor(model => model.Audio, "", new { @class = "text-danger" })
                        @*@Html.EditorFor(model => model.Audio, new { htmlAttributes = new { @class = "form-control", @placeholder = "Import story audio files...", @maxlength = "50", @minlength = "2", @autofocus = "autofocus", @required = "required" } })*@
                        <input type="file" name="Audio" accept=".mp3" required />
                    </p>
                    <p>
                        <input type="text" id="ID_User" name="ID_User" class="form-control text-box single-line" value="@Session["Admin_Code"]" style="display:none;" />
                    </p>
                </div>
                <div class="row">
                    <input type="submit" value="Create new story" name="CreateS" class="btn btn-primary bx-flashing-hover center-block" style="width:40%;" />
                </div>}
            </div>
            <div class="col-lg-2 col-xs-0">

            </div>
        </div>
    </div>
</div>
@*<h2>Tạo mới</h2>
<hr />
@using (Html.BeginForm("CreateS", "Story", FormMethod.Post))
{
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div>
                    <input type="file" name="fileUpload" id="fileUpload" accept="images/*" style="display:none;" />
                    <img src="~/Content/images/@Model.Banner" id="pictureUpload" style="width: 100%; height: 60vh;" alt="Story Banner" />
                    <br />
                    @Html.EditorFor(model => model.Banner, "", new { htmlAttributes = new { @class = "form-control center-block", @placeholder = "Type image string ...", @style = "width:500px;height:200px;display:none;", @maxlength = "50" } })
                    <br />
                    <p><input type="button" id="btnUpload" value="Chọn Banner" class="btn btn-success center-block" /></p>
                    <p>@Html.ValidationMessageFor(model => model.Banner, "", new { @class = "text-danger" })</p>
                </div>
                                @section upload
    {
                                    <script>$(function () {
                $('#btnUpload').click(function () {
                    $('#fileUpload').trigger('click');
                });
            });
            $('#fileUpload').change(function () {
                if (window.FormData !== undefined) {
                    var fileUpload = $('#fileUpload').get(0);
                    var files = fileUpload.files;
                    var formData = new FormData();
                    formData.append('file', files[0]);
                    $.ajax({
                        type: 'POST',
                        url: '/Story/ProcessUpload',
                        contentType: false,
                        processData: false,
                        data: formData,
                        success: function (urlImage) {
                            $('#pictureUpload').attr('src', "/Content/images/" + urlImage);
                            $('#Banner').val(urlImage);
                        },
                        error: function (err) {
                            alert('Error', err.statusText);
                        }
                    });
                }
            });</script>
                                }
                                                <div class="thumbnail">
                                                    <input type="file" name="fileUpload" id="fileUpload1" accept="images/*" style="display:none;" />
                                                    <img src="~/Content/images/@Model.Image_Story" id="pictureUpload1" style="width: 200px; height: 200px;" alt="Story Image" />
                                                    <br />
                                                    @Html.EditorFor(model => model.Image_Story, "", new { htmlAttributes = new { @class = "form-control center-block", @placeholder = "Type image string ...", @style = "width:500px;height:200px;display:none;", @maxlength = "50" } })
                                                    <br />
                                                    <p><input type="button" id="btnUpload1" value="Chọn ảnh" class="btn btn-success center-block" /></p>
                                                </div>
                                                                @section upload1
    {
                                                                    <script>$(function () {
                $('#btnUpload1').click(function () {
                    $('#fileUpload1').trigger('click');
                });
            });
            $('#fileUpload1').change(function () {
                if (window.FormData !== undefined) {
                    var fileUpload = $('#fileUpload1').get(0);
                    var files = fileUpload.files;
                    var formData = new FormData();
                    formData.append('file', files[0]);
                    $.ajax({
                        type: 'POST',
                        url: '/Story/ProcessUpload',
                        contentType: false,
                        processData: false,
                        data: formData,
                        success: function (urlImage) {
                            $('#pictureUpload1').attr('src', "/Content/images/" + urlImage);
                            $('#Image_Story').val(urlImage);
                        },
                        error: function (err) {
                            alert('Error', err.statusText);
                        }
                    });
                }
            });</script>
                                                                }
                                                                                <div class="form-group">
                                                                                    <p>
                                                                                        <strong>@Html.LabelFor(model => model.Name_Story)</strong> @Html.ValidationMessageFor(model => model.Name_Story, "", new { @class = "text-danger" })
                                                                                        @Html.EditorFor(model => model.Name_Story, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập tên câu chuyện ...", @maxlength = "50" } })
                                                                                    </p>
                                                                                    <p>
                                                                                        <strong>@Html.LabelFor(model => model.EN_Content)</strong> @Html.ValidationMessageFor(model => model.EN_Content, "", new { @class = "text-danger" })
                                                                                        @Html.EditorFor(model => model.EN_Content, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập file EN nội dung câu chuyện  ...", @maxlength = "50" } })
                                                                                    </p>
                                                                                    <p>
                                                                                        <strong>@Html.LabelFor(model => model.VN_Content)</strong> @Html.ValidationMessageFor(model => model.VN_Content, "", new { @class = "text-danger" })
                                                                                        @Html.EditorFor(model => model.VN_Content, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập file VN nội dung câu chuyện ...", @maxlength = "50" } })
                                                                                    </p>
                                                                                    <p>
                                                                                        <strong>@Html.LabelFor(model => model.Audio)</strong> @Html.ValidationMessageFor(model => model.Audio, "", new { @class = "text-danger" })
                                                                                        @Html.EditorFor(model => model.Audio, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập file âm thanh câu chuyện ...", @maxlength = "50" } })
                                                                                    </p>
                                                                                    <p><input type="text" id="ID_User" name="ID_User" class="form-control text-box single-line" value="@Session["Admin_Code"]" style="display:none;" /></p>
                                                                                </div>
                                                                                                <input type="submit" value="Lưu" name="CreateS" class="btn btn-success" />}*@
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
