@model PagedList.IPagedList<EnglishForKids_LMN.Models.StoryBonus>
@using PagedList.Mvc;
@using PagedList;
@{ ViewBag.Title = "List Story - English For Kids";
                Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; }
<style>

</style>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            @*<h2 style="text-align: center; font-size: 30px; font-weight: 600;">
                DANH SÁCH CÂU CHUYỆN
            </h2>*@





            <div class="border-title">
                <div class="container_title">
                    <h2 class="title" style="font-size:37px">
                        <span class="title-word title-word-1">S</span>
                        <span class="title-word title-word-2">T</span>
                        <span class="title-word title-word-3">O</span>
                        <span class="title-word title-word-4">R</span>
                        <span class="title-word title-word-1">Y</span>
                    </h2>
                </div>
            </div>









        </div>
    </div>
<br />
@using (Html.BeginForm("ListStory", "Story", FormMethod.Post))
{
<br />
    <div class="row">
            <div class="col-lg-5 col-sm-0 col-xs-0">
                @*@Html.ActionLink("Tạo mới", "CreateV", "Vocabulary", new { @class = "btn btn-default" })*@
                @*<a href="@Url.Action("CreateV", "Vocabulary")" class="btn btn-default btn-taomoi-reponsive-1">Tạo mới</a>*@
            </div>
            <div class="col-lg-7 col-sm-12 col-xs-12">
                <label>Search and arrange:</label>
                <select id="sortStory1" name="sortStory1" class="form-control" style="width:105px;display:inline-block">
                    <option for="sortStory1" id="sortStory1" name="sortStory1" value="@Session["sortStory1"]">@Session["sortStory1"]</option>
                    <option for="sortStory1" id="sortStory1" name="sortStory1" value="None">None</option>
                    <option for="sortStory1" id="sortStory1" name="sortStory1" value="AZ">A - Z</option>
                    <option for="sortStory1" id="sortStory1" name="sortStory1" value="ZA">Z - A</option>
                    <option for="sortStory1" id="sortStory1" name="sortStory1" value="View">View</option>
                </select>
                <input type="text" id="searchStory1" name="searchStory1" class="form-control" placeholder="Enter keywords to search ..." value="@Session["searchStory1"]" required style="display: inline-block; width: 250px" />
                <input type="submit" value="Search" class="btn btn-primary bx-fade-right-hover" style="width:90px;display:inline-block" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <a href="@Url.Action("CreateS", "Story")" class="btn btn-primary bx-tada-hover btn-taomoi-reponsive">Create story</a>
            </div>
        </div>
<hr />
    <div class="row">
        <table class="table-hover table table-responsive tr">
            <caption class="caption">Story list statistics table</caption>
            <tr>
                <th style=" text-align: center;">#</th>
                <th style=" text-align: center;">Story pictures</th>
                <th style=" text-align: center;">Story name</th>
                <th style=" text-align: center;">Creator</th>
                <th style=" text-align: center;">Function</th>
            </tr>
            @foreach (var item in Model)
            {
        <tr class="search-list">
            <td style=" text-align: center;">@item.ID_Story</td>
            <td style=" text-align: center;"><img src="~/Content/images/@item.Image_Story" style="width:50px;height:50px; border-radius:10px" /></td>
            <td style=" text-align: center;">@item.Name_Story</td>
            <td style=" text-align: center;">@item.Name_User</td>
            <td style=" text-align: center;">
                <a href="@Url.Action("EditS", "Story", new { id = item.ID_Story })" class="btn btn-warning bx-tada-hover" style="width:80px;">Edit</a>
                <a href="@Url.Action("DetailS", "Story", new { id = item.ID_Story })" class="btn btn-success bx-tada-hover" style="width:80px;">Detail</a>
                <a href="@Url.Action("DeleteS", "Story", new { id = item.ID_Story })" class="btn btn-danger bx-tada-hover" style="width:80px;">Delete</a>
            </td>
        </tr>}
        </table>
</div>
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div style="margin-top:50px">
                <div>
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                </div>
                <div>
                    @if (Session["searchStory1"] != null)
                    {
                @Html.PagedListPager(Model, page => Url.Action("ListStory", new { page = page, searchStory1 = Session["searchStory1"], sortStory1 = Session["sortStory1"] })) }
            else
            {
                @Html.PagedListPager(Model, page => Url.Action("ListStory", new { page = page }))}
                </div>
            </div>
        </div>
    </div>}
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    </div>
