@model PagedList.IPagedList<EnglishForKids_LMN.Models.Story>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Story - English For Kids";
    if (Session["ID_User"] != null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    if (Session["Admin_Code"] != null)
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12" style="position:relative;">
            <img src="~/Content/images/gif/gif_win7.gif" alt="results" style="width:20%; position: absolute; left: -200px; top: 100px" />
        </div>
    </div>
    @*<div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12" style="position:relative;">
            <img src="~/Content/images/gif/gif_10.gif" alt="results" style="width:15%; position: absolute; right: 310px; top: 1700px" />
        </div>
    </div>*@
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            @*<h2 style="text-align: center; font-size: 30px; font-weight: 600;">STORY</h2>*@


            <div class="border-title">
                <div class="container_title">
                    <h2 class="title">
                        <span class="title-word title-word-2">S</span>
                        <span class="title-word title-word-3">T</span>
                        <span class="title-word title-word-4">O</span>
                        <span class="title-word title-word-1">R</span>
                        <span class="title-word title-word-2">Y</span>
                    </h2>
                </div>
            </div>


        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    @using (Html.BeginForm("User_View", "Story", FormMethod.Get))
    {
        <div class="row">
            <div class="col-lg-5 col-sm-1 col-xs-0"></div>
            <div class="col-lg-7 col-sm-11 col-xs-12">
                <label>Search and arrange: </label>
                <select id="sortStory" name="sortStory" class="form-control" style="width:105px;display:inline-block">
                    <option for="sortStory" id="sortStory" name="sortStory" value="@Session["sortStory"]" hidden>@Session["sortStory"]</option>
                    <option for="sortStory" id="sortStory" name="sortStory" value="None">None</option>
                    <option for="sortStory" id="sortStory" name="sortStory" value="AZ">A - Z</option>
                    <option for="sortStory" id="sortStory" name="sortStory" value="ZA">Z - A</option>
                    @*<option for="sortStory" id="sortStory" name="sortStory" value="View">View</option>*@
                </select>
                <input type="text" id="searchStory" name="searchStory" class="form-control" placeholder="Enter keywords to search ..." value="@Session["searchStory"]" style="display: inline-block; width: 250px" maxlength="20" required />
                <input type="submit" value="Search" class="btn btn-primary bx-flashing-hover" style="width:90px;display:inline-block" />
            </div>
        </div>
        <br />
        <hr />
        <div class="row">
            @foreach (var item in Model)
            {
                <a href="/Story/DetailS/@item.ID_Story">
                    <div class="col-lg-4 col-sm-6 col-xs-12" style="border-radius: 0; margin-top:50px; display: flex; align-items: center; justify-content: center;">
                        <div class="card" style="border-radius: 20px; background-color: #eceade;">
                            <img src="~/Content/images/@item.Image_Story" alt="Vocabulary Image" style="width: 100%; height: 250px; border-radius: 20px" />
                            <h3 class="animate-charcter text-center" style="text-align: center; color: black; font-size: 20px; font-weight: 700">@item.Name_Story</h3>
                            <p class="bx-fade-right-hover" style="padding: 10px; width: 100%; background-color: #333333; color: white; font-size: 14px; border-radius: 5px">Detail</p>
                        </div>
                    </div>
                </a>
            }
        </div>
        <div class="row">
            <div class="col-lg-12 col-xs-12">
                <div style="margin-top:50px">
                    <div>
                        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                    </div>
                    <div>
                        @if (Session["searchStory"] != null)
                        {
                            @Html.PagedListPager(Model, page => Url.Action("User_View", new { page = page, searchStory = Session["searchStory"], sortStory = Session["sortStory"] }))
                        }
                        else
                        {
                            @Html.PagedListPager(Model, page => Url.Action("User_View", new { page = page }))
                        }
                    </div>
                </div>
            </div>
        </div>
        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    }
</div>
