@*@model IEnumerable<EnglishForKids_LMN.Models.Quiz>*@
@model PagedList.IPagedList<EnglishForKids_LMN.Models.Quiz>
@using PagedList.Mvc;
@using PagedList;
@{
    EnglishForKids_LMN.Models.English_LearningEntities db = new EnglishForKids_LMN.Models.English_LearningEntities();
    ViewBag.Title = "Drag & Drop Quiz - English For Kids";
    if (Session["ID_User"] != null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    if (Session["Admin_Code"] != null)
    {
        Response.Redirect("~/Home/HomePage");
    }
    if (Session["ID_User"] == null && Session["Admin_Code"] == null)
    {
        Response.Redirect("~/Login/SignIn");
    }
}
<style>
    .layout-background-quiz {
        background-color: gray;
        border-radius: 20px;
    }

    .note-main {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition: 0.3s;
        border-radius: 30px;
    }
</style>
<div class="container">

    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12" style="position:relative;">
            <img src="~/Content/images/gif/dragon_run.gif" alt="results" style="width:20%; position: absolute; left: -270px; top: 50px" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12" style="position:relative;">
            <img src="~/Content/images/gif/light-fury-ice.gif" alt="results" style="width:20%; position: absolute; right: 160px; top: 600px" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="border-title">
                <div class="container_title">
                    <h2 class="title">
                        <span class="title-word title-word-1">Q</span>
                        <span class="title-word title-word-2">U</span>
                        <span class="title-word title-word-3">I</span>
                        <span class="title-word title-word-4">Z</span>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    @using (Html.BeginForm("Choose_DragDrop_Quiz", "Quiz", FormMethod.Get))
    {
        <div class="row">
            <div class="col-lg-5 col-sm-1 col-xs-0">

            </div>
            <div class="col-lg-7 col-sm-11 col-xs-12">
                <label>Search and arrange:</label>
                <select id="sortDragDropQuiz" name="sortDragDropQuiz" class="form-control" style="width:105px;display:inline-block">
                    <option for="sortDragDropQuiz" id="sortDragDropQuiz" name="sortDragDropQuiz" value="@Session["sortDragDropQuiz"]" hidden>@Session["sortDragDropQuiz"]</option>
                    <option for="sortDragDropQuiz" id="sortDragDropQuiz" name="sortDragDropQuiz" value="None">None</option>
                    <option for="sortDragDropQuiz" id="sortDragDropQuiz" name="sortDragDropQuiz" value="AZ">A - Z</option>
                    <option for="sortDragDropQuiz" id="sortDragDropQuiz" name="sortDragDropQuiz" value="ZA">Z - A</option>
                </select>
                <input type="text" id="searchDragDropQuiz" name="searchDragDropQuiz" class="form-control" placeholder="Enter keywords to search ..." value="@Session["searchDragDropQuiz"]" required style="display: inline-block; width: 250px" />
                <input type="submit" value="Search" class="btn btn-primary bx-fade-right-hover" style="width:90px;display:inline-block" />
            </div>
        </div>
        <br />
        <hr />
        <div class="row">
            @using EnglishForKids_LMN.Models;
            @{
                List<Quiz_Details> quiz_Details = Session["quiz_Details"] as List<Quiz_Details>;
                int user_Code = int.Parse(Session["ID_User"].ToString());}
            <div class="col-lg-4 col-sm-4 col-xs-12 note-main" style="padding:40px;">
                <div class="">
                    @*<marquee direction="left">*@
                    <h2 class="animate-charcter" style="text-align: center; font-size: 30px; font-weight: 600;">
                        Score statistics:
                    </h2>
                    @*</marquee>*@
                    @foreach (var item in Model)
                    {
                        <ul>
                            <li>
                                <b>
                                    @item.Name_Quiz
                                </b>
                                @foreach (var item1 in quiz_Details)
                                {
                                    if (item1.ID_Quiz == item.ID_Quiz && item1.ID_User == user_Code)
                                    {
                                        <span>: @item1.Quiz_Score/10 score.</span>
                                        break;
                                    }
                                }
                            </li>
                        </ul>
                    }
                </div>
                <hr />
                <ol>
                    <p class="animate-charcter" style="text-align: center; font-size: 20px; font-weight: 600;">
                        Note:
                    </p>
                    <li>
                        Drag the answer you think is correct into the box.
                    </li>
                    <li>
                        1 correct answer is equivalent to 2 points.
                    </li>
                </ol>
            </div>

            <div class="col-lg-8 col-sm-8 col-xs-12">
                @foreach (var item in Model)
                {
                    <a href="/Quiz/Do_DragDrop_Quiz/@item.ID_Quiz">
                        <div class="col-lg-6 col-sm-6 col-xs-12" style="border-radius: 0; margin-top: 30px; display: flex; align-items: center; justify-content: center;">
                            <div class="card" style="border-radius: 20px; background-color: #eceade;">
                                <h1 class="animate-charcter text-center" style="text-align:center;color:black; font-size: 24px; font-weight: 700 ">@item.Name_Quiz</h1>
                            </div>
                        </div>
                    </a>
                }
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div style="margin-top:50px">
                            <div>
                                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                            </div>
                            <div>
                                @if (Session["searchDragDropQuiz"] != null)
                                {
                                    @Html.PagedListPager(Model, page => Url.Action("Choose_DragDrop_Quiz", new { page = page, searchDragDropQuiz = Session["searchDragDropQuiz"], sortDragDropQuiz = Session["sortDragDropQuiz"] })) }
                                else
                                {
                                    @Html.PagedListPager(Model, page => Url.Action("Choose_DragDrop_Quiz", new { page = page }))}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<br />
<br />


