@model EnglishForKids_LMN.Models.Quiz
@{ ViewBag.Title = "CreateQ";
                Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; }
<style>
    .text-danger {
        color: red;
    }
    .background-quiz-createQ {
        padding: 20px;
        background-color: #fff;
        border: 10px; /* Viền của cái khối */
        border-color: rgb(0 0 0 / 2%);
        border-style: solid;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 20px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
</style>

<div class="container">
    <div class="row background-quiz-createQ">
        <div class="row">
            <div class="col-lg-2 col-xs-0">

            </div>
            <div class="col-lg-8 col-xs-12">
                <div class="row">
                    <div class="col-lg-12 col-xs-12">
                        <h2 style="text-align: center; font-size: 30px; font-weight: 600;">TẠO CÂU ĐỐ</h2>
                    </div>
                    <hr />
                    <div class="col-lg-12 col-xs-12">
                        @using (Html.BeginForm("CreateQ", "Quiz", FormMethod.Post))
                        {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        <p>
                                            <strong>Tên câu đố:</strong> @Html.ValidationMessageFor(model => model.Name_Quiz, "", new { @class = "text-danger" })
                                            @Html.EditorFor(model => model.Name_Quiz, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập tên câu đố ...", @maxlength = "50" } })
                                        </p>
                                        <p>
                                            <strong>Nội dung:</strong> @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                                            @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập tên file nội  dung  ...", @maxlength = "50" } })
                                        </p>
                                        <p>
                                            <strong>Câu trả lời 1:</strong> @Html.ValidationMessageFor(model => model.Answer_1, "", new { @class = "text-danger" })
                                            @Html.EditorFor(model => model.Answer_1, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập câu trả lời 1 ...", @maxlength = "50" } })
                                        </p>
                                        <p>
                                            <strong>Câu trả lời 2:</strong> @Html.ValidationMessageFor(model => model.Answer_2, "", new { @class = "text-danger" })
                                            @Html.EditorFor(model => model.Answer_2, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập câu trả lời 2 ...", @maxlength = "50" } })
                                        </p>
                                        <p>
                                            <strong>Câu trả lời 3:</strong> @Html.ValidationMessageFor(model => model.Answer_3, "", new { @class = "text-danger" })
                                            @Html.EditorFor(model => model.Answer_3, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập câu trả lời 3 ...", @maxlength = "50" } })
                                        </p>
                                        <p>
                                            <strong>Câu trả lời 4:</strong> @Html.ValidationMessageFor(model => model.Answer_4, "", new { @class = "text-danger" })
                                            @Html.EditorFor(model => model.Answer_4, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập câu trả lời 4 ...", @maxlength = "50" } })
                                        </p>
                                        <p>
                                            <strong>Câu trả lời 5:</strong> @Html.ValidationMessageFor(model => model.Answer_5, "", new { @class = "text-danger" })
                                            @Html.EditorFor(model => model.Answer_5, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập câu trả lời 5 ...", @maxlength = "50" } })
                                        </p>
                                    </div>
                                                    <input type="submit" value="Lưu" name="CreateQ" class="btn btn-success center-block" style="width:40%;" />}
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-xs-0">

            </div>
        </div>
    </div>
    <br />
</div>
@*<h2>Tạo câu đố</h2>
<hr />
@using (Html.BeginForm("CreateQ", "Quiz", FormMethod.Post))
{
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <p>
                        <strong>Tên câu đố : </strong> @Html.ValidationMessageFor(model => model.Name_Quiz, "", new { @class = "text-danger" })
                        @Html.EditorFor(model => model.Name_Quiz, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập tên câu đố ...", @maxlength = "50" } })
                    </p>
                    <p>
                        <strong>Content : </strong> @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                        @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập tên file content  ...", @maxlength = "50" } })
                    </p>
                    <p>
                        <strong>Lựa chọn 1 : </strong> @Html.ValidationMessageFor(model => model.Answer_1, "", new { @class = "text-danger" })
                        @Html.EditorFor(model => model.Answer_1, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập lựa chọn 1 ...", @maxlength = "50" } })
                    </p>
                    <p>
                        <strong>Lựa chọn 2 : </strong> @Html.ValidationMessageFor(model => model.Answer_2, "", new { @class = "text-danger" })
                        @Html.EditorFor(model => model.Answer_2, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập lựa chọn 2 ...", @maxlength = "50" } })
                    </p>
                    <p>
                        <strong>Lựa chọn 3 : </strong> @Html.ValidationMessageFor(model => model.Answer_3, "", new { @class = "text-danger" })
                        @Html.EditorFor(model => model.Answer_3, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập lựa chọn 3 ...", @maxlength = "50" } })
                    </p>
                    <p>
                        <strong>Lựa chọn 4 : </strong> @Html.ValidationMessageFor(model => model.Answer_4, "", new { @class = "text-danger" })
                        @Html.EditorFor(model => model.Answer_4, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập lựa chọn 4 ...", @maxlength = "50" } })
                    </p>
                    <p>
                        <strong>Lựa chọn 5 : </strong> @Html.ValidationMessageFor(model => model.Answer_5, "", new { @class = "text-danger" })
                        @Html.EditorFor(model => model.Answer_5, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập lựa chọn 5 ...", @maxlength = "50" } })
                    </p>
                </div>
                <input type="submit" value="Save" name="CreateQ" class="btn btn-success" />
}*@

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
