@model EnglishForKids_LMN.Models.Quiz
@{
    ViewBag.Title = "Do Drag & Drop Quiz - English For Kids";
    if (Session["ID_User"] != null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    if (Session["Admin_Code"] != null)
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
}
<style>
    .background-quiz-do-dragdrop {
        padding: 35px;
        background-color: #fff;
        border: 10px; /* Viền của cái khối */
        border-color: rgb(221 58 58 / 74%);
        border-style: solid;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 30px;
        box-shadow: 0 14px 28px rgb(226 17 17 / 25%), 0 10px 10px rgb(243 241 22 / 22%);
    }
    .btn-hoanthanh-dragdrop {
        color: #fff;
        box-shadow: 0 1px 1px rgb(0 0 0 / 9%);
        font-size: 20px;
        width: 80%;
        height: 60px;
        cursor: pointer;
        border-radius: 10px;
        outline-style: inherit;
        outline-color: aqua;
        margin-top: 20px;
        margin-bottom: 20px;
        border: 3px solid #315cfd;
        transition: all 0.3s;
        font-weight: 700;
        background: #4FD1C5;
        background: linear-gradient(90deg, rgb(210 205 113) 0%, rgb(223 52 93) 100%);
    }

        .btn-hoanthanh-dragdrop:hover {
            color: #fff;
            transform: translateY(-6px);
            font-size: 18px;
        }
</style>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12" style="position:relative;">
            <img src="~/Content/images/gif/doraemon.gif" alt="results" style="width:15%; position: absolute; left: -170px; top: 50px" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="border-title">
                <div class="container_title">
                    <h2 class="title">
                        <span class="title-word title-word-1">Q</span>
                        <span class="title-word title-word-2">U</span>
                        <span class="title-word title-word-3">I</span>
                        <span class="title-word title-word-4">Z</span>
                    </h2>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-0 col-sm-1 col-xs-1">

        </div>
        <div class="col-lg-12 col-sm-10 col-xs-10 background-quiz-do-dragdrop">
            @using (Html.BeginForm("Do_DragDrop_Quiz", "Quiz", FormMethod.Post))
            {
                <div class="row">
                    <div class="row">
                        <div class="col-lg-0 col-sm-1 col-xs-1">

                        </div>
                        <div class="col-lg-12 col-sm-10 col-xs-10">
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-xs-12">
                                    @*<h2 style="text-align: center; font-size: 30px; font-weight: 600;">KÉO CÁC TỪ VÀ BỎ VÀO Ô TRỐNG THÍCH HỢP</h2>*@


                                    <div class="text-center" style="background-color:antiquewhite">
                                        <h2 class="animate-charcter" style="text-transform: uppercase; text-align: center; font-size: 50px; font-weight: 700;">
                                            Drag and Drop
                                        </h2>
                                    </div>



                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-xs-12">
                                    <div style="text-align:center;">

                                        <p id="@Model.Answer_1" draggable="true" ondragstart="drag1(event)" class="btn btn-success bx-tada-hover">@Model.Answer_1</p>
                                        <p id="@Model.Answer_2" draggable="true" ondragstart="drag2(event)" class="btn btn-success bx-tada-hover">@Model.Answer_2</p>
                                        <p id="@Model.Answer_3" draggable="true" ondragstart="drag3(event)" class="btn btn-success bx-tada-hover">@Model.Answer_3</p>
                                        <p id="@Model.Answer_4" draggable="true" ondragstart="drag4(event)" class="btn btn-success bx-tada-hover">@Model.Answer_4</p>
                                        <p id="@Model.Answer_5" draggable="true" ondragstart="drag5(event)" class="btn btn-success bx-tada-hover">@Model.Answer_5</p>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <hr />
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-xs-12">
                                    <div>
                                        <p id="Quiz_Content">

                                        </p>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <hr />
                            <div class="row">
                                <div class="col-lg-3 col-sm-1 col-xs-0">

                                </div>
                                <div class="col-lg-6 col-sm-10 col-xs-12">
                                    <input type="submit" value="Finish" class="btn btn-primary center-block btn-hoanthanh-dragdrop bx-flashing-hover" />
                                </div>
                                <div class="col-lg-3 col-sm-1 col-xs-0">

                                </div>
                            </div>

                        </div>
                        <div class="col-lg-0 col-sm-1 col-xs-1">

                        </div>

                    </div>
                </div>
            }
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-xs-12">
                    <button class="btn btn-primary bx-fade-up" style=" border-radius: 50%; width: 25%; height: 100px; font-size: 25px;" onclick="location.reload()">Replay</button>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12">

                </div>
            </div>
        </div>
        <div class="col-lg-0 col-sm-1 col-xs-1">

        </div>
    </div>


</div>

@*@using (Html.BeginForm("Do_DragDrop_Quiz", "Quiz", FormMethod.Post))
{
    <h2>Kéo các từ sau đây và bỏ vào ô trống thích hợp:</h2>
    <div>
        <p id="@Model.Answer_1" draggable="true" ondragstart="drag1(event)" class="btn btn-default">@Model.Answer_1</p>
        <p id="@Model.Answer_2" draggable="true" ondragstart="drag2(event)" class="btn btn-default">@Model.Answer_2</p>
        <p id="@Model.Answer_3" draggable="true" ondragstart="drag3(event)" class="btn btn-default">@Model.Answer_3</p>
        <p id="@Model.Answer_4" draggable="true" ondragstart="drag4(event)" class="btn btn-default">@Model.Answer_4</p>
        <p id="@Model.Answer_5" draggable="true" ondragstart="drag5(event)" class="btn btn-default">@Model.Answer_5</p>
    </div>
    <hr />
    <div>
        <p id="Quiz_Content"></p>
    </div>
    <input type="submit" value="Hoàn thành" class="btn btn-info" />
}*@
<script>
    function allowDrop1(ev) {
        ev.preventDefault();
    }

    function drag1(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop1(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        ev.target.appendChild(document.getElementById(data));
        document.getElementById("dropone").value = data;
    }
    /*----------------------------------------------------------*/
    function allowDrop2(ev) {
        ev.preventDefault();
    }

    function drag2(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop2(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        ev.target.appendChild(document.getElementById(data));
        document.getElementById("droptwo").value = data;
    }
    /*----------------------------------------------------------*/
    function allowDrop3(ev) {
        ev.preventDefault();
    }

    function drag3(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop3(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        ev.target.appendChild(document.getElementById(data));
        document.getElementById("dropthree").value = data;
    }
    /*----------------------------------------------------------*/
    function allowDrop4(ev) {
        ev.preventDefault();
    }

    function drag4(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop4(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        ev.target.appendChild(document.getElementById(data));
        document.getElementById("dropfour").value = data;
    }
    /*----------------------------------------------------------*/
    function allowDrop5(ev) {
        ev.preventDefault();
    }

    function drag5(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop5(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        ev.target.appendChild(document.getElementById(data));
        document.getElementById("dropfive").value = data;
    }</script>

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script>
    $(document).ready(function () {
        $("#Quiz_Content").load("/Content/txt/@Model.Content");
    });
</script>

