@model PagedList.IPagedList<EnglishForKids_LMN.Models.Quiz>
@using PagedList.Mvc;
@using PagedList;
@{ ViewBag.Title = "List Quiz - English For Kids";
    if (Session["ID_User"] != null)
    {
        Response.Redirect("~/Home/HomePage");
    }
    if (Session["Admin_Code"] != null)
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    if (Session["ID_User"] == null && Session["Admin_Code"] == null)
    {
        Response.Redirect("~/Login/SignIn");
    }
}

<style>
</style>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="border-title">
                <div class="container_title">
                    <h2 class="title" style="font-size:37px">
                        <span class="title-word title-word-1">Q</span>
                        <span class="title-word title-word-2">U</span>
                        <span class="title-word title-word-3">I</span>
                        <span class="title-word title-word-4">Z</span>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <br />
    @using (Html.BeginForm("ListQuiz", "Quiz", FormMethod.Post))
    {
        <div class="row">
            <div class="col-lg-5 col-sm-1 col-xs-0">

            </div>
            <div class="col-lg-7 col-sm-11 col-xs-12">
                <label>Search and arrange:</label>
                <select id="sortQuiz" name="sortQuiz" class="form-control center-block" style="width:105px;display:inline-block">
                    <option for="sortQuiz" id="sortQuiz" name="sortQuiz" value="@Session["sortQuiz"]" hidden>@Session["sortQuiz"]</option>
                    <option for="sortQuiz" id="sortQuiz" name="sortQuiz" value="None">None</option>
                    <option for="sortQuiz" id="sortQuiz" name="sortQuiz" value="AZ">A - Z</option>
                    <option for="sortQuiz" id="sortQuiz" name="sortQuiz" value="ZA">Z - A</option>
                </select>
                <input type="text" id="searchQuiz" name="searchQuiz" class="form-control" placeholder="Enter keywords to search ..." value="@Session["searchQuiz"]" style="display: inline-block; width: 250px" minlength="1" maxlength="25" required />
                <input type="submit" value="Search" class="btn btn-primary bx-fade-right-hover" style="width:90px;display:inline-block" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <a href="@Url.Action("CreateQ", "Quiz")" class="btn btn-primary bx-tada-hover btn-taomoi-reponsive">Create new quiz</a>
            </div>
        </div>
        <hr />
        <div class="row">
            <table class="table-hover table table-responsive tr">
                <caption class="caption">List of puzzles</caption>
                <tr>
                    <th style=" text-align: center;">#</th>
                    <th style=" text-align: center;">Quiz name</th>
                    <th style=" text-align: center;">Content</th>
                    <th style=" text-align: center;">Answer 1</th>
                    <th style=" text-align: center;">Answer 2</th>
                    <th style=" text-align: center;">Answer 3</th>
                    <th style=" text-align: center;">Answer 4</th>
                    <th style=" text-align: center;">Function</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr class="search-list">
                        <td style=" text-align: center;">@item.ID_Quiz</td>
                        <td style=" text-align: center;">@item.Name_Quiz</td>
                        <td style=" text-align: center;">@item.Content</td>
                        <td style=" text-align: center;">@item.Answer_1</td>
                        <td style=" text-align: center;">@item.Answer_2</td>
                        <td style=" text-align: center;">@item.Answer_3</td>
                        <td style=" text-align: center;">@item.Answer_4</td>
                        <td style=" text-align: center;">
                            <a href="@Url.Action("EditQ", "Quiz", new { id = item.ID_Quiz })" class="btn btn-warning bx-tada-hover" style="width:80px;">Edit</a>
                            <a href="@Url.Action("Do_DragDrop_Quiz", "Quiz", new { id = item.ID_Quiz })" class="btn btn-success bx-tada-hover" style="width:80px;">Detail</a>
                            <a href="@Url.Action("DeleteQ", "Quiz", new { id = item.ID_Quiz })" class="btn btn-danger bx-tada-hover" style="width:80px;">Delete</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div style="margin-top:50px">
                    <div>
                        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                    </div>
                    <div>
                        @if (Session["searchQuiz"] != null)
                        {
                            @Html.PagedListPager(Model, page => Url.Action("ListQuiz", new { page = page, searchQuiz = Session["searchQuiz"], sortQuiz = Session["sortQuiz"] })) }
                        else
                        {
                            @Html.PagedListPager(Model, page => Url.Action("ListQuiz", new { page = page }))}
                    </div>
                </div>
            </div>
        </div>
        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    }
</div>